.main {
  display: flex;
  align-items: center;
  flex: 1;

  ui-card {
    header {
      flex: 1;

      card-title {
        color: var(--text-color);
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/components/OverviewCard/OverviewCard.css