.footer {
  padding: 20px 0;
  text-align: center;
  color: #21454e;
  font-size: 14px;
  font-weight: 500;
  border-top: 1px solid #cbd6dc;
}
.copyright {
  opacity: 0.5;
  text-align: left;
  font-size: 12px;
}
.socialIcon {
  width: 18px;
  height: 18px;
  opacity: 0.7;
  color: #21454e;
}
.socialIcon:hover {
  opacity: 0.5;
}
.link {
  opacity: 0.5;
  color: #21454e;
  white-space: nowrap;
}
.row {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
}
.column {
  -ms-flex: 1 1;
      flex: 1 1;
}
.column:last-child {
  text-align: right;
}
@media (min-width: 768px) {
  .row {
    margin: 0 40px;
  }
  .break {
    display: none;
  }
  .link:not(:first-child) {
    margin-left: 40px;
  }
}



// WEBPACK FOOTER //
// ./src/components/footer/Footer.less