@import '../../../styles/vars.css';
@import '../../../styles/icons8-classes.css';

.main {
  :global {

    .modal-dialog {
      width: 70%;
    }
    .modal-body {
      background-color: #fcfcfc;
    }

    .__name {
      width: 45%;
      float: left;
    }

    .__desc {
      width: 45%;
      float: left;
      margin-left: 10px;
    }

    form > .form-group {
      padding-left: 20px;
    }

    .__pipes {
      & > div {
        display: flex;
        width: 100%;
      }
    }

    .__col {
      padding: 0;
      min-height: 170px;
      background-color: #fff;
      border-right: 1px solid #f5f5f5;
      text-align: center;
      padding-top: 10px;
      max-width: 200px;
      flex: 1;
      position: relative;
      .__activeEl {
        background-color: #444d53;
        color: #fff;
        border: 2px solid #444d53 !important;
      }
      .__addStageIcon {
        color: var(--color-blue);
        font-size: 18px;
        position: absolute;
        left: -20px;
        top: -5px;
        cursor: pointer;
      }
      .__addNextPipeEl {
        display: none;
        right: 2px;
        left: inherit;
      }
      &:first-child {
        max-width: 100px;
        background-image: url('/img/pipelines/editor-artifact.png');
        background-repeat: no-repeat;
        background-position: right 10px;
      }
      &:last-child {
        max-width: 100px;
        background-image: url('/img/pipelines/editor-done.png');
        background-repeat: no-repeat;
        background-position: left 10px;
      }
      .__pipe {
        background-image: url(/img/pipelines/editor-pipe.png);
        height: 30px;
        margin-top: 6px;
        padding: 6px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: #eee;
        .__deleteStage {
          font-size: 12px;
          margin-left: 5px;
          cursor: pointer;
          visibility: hidden;
        }
      }
      .__stageEl {
        margin: 8px;
        padding: 3px;
        border-radius: 5px;
        border: 2px solid #e2e6e7;
        .__deleteEnv {
          float: right;
          font-size: 12px;
          margin-top: 2px;
          margin-right: 2px;
          color: #aaa;
          cursor: pointer;
          visibility: hidden;
        }
      }
      .__pipeEnd {
        background-image: url(/img/pipelines/editor-pipe-end.png);
        height: 30px;
        width: 7px;
        float: right;
        margin-top: -30px;
      }
      .Select {
        display: none;
        text-align: left;
        .Select-control {
          border: none;
          background-color: inherit;
          .Select-placeholder {
            color: #333;
            &::before {
              content: '';
              font-family: "icons8";
              @mixin icons8-plus-filled-content;
              color: var(--color-blue);
              font-size: 18px;
              cursor: pointer;
            }
          }
          .Select-arrow-zone {
            display: none;
          }
        }
      }
    }

    .__envDetails {
      padding-left: 20px;
      padding-bottom: 20px;
      .Select {
        width: 30%;
      }
    }

    .__modalFooter {
      .__errors {
        padding: 10px 0;
        color: darkred;
      }
      button {
        width: 130px;
        margin-right: 10px;
      }
    }

  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/PipelinePage/views/PipelineNewCardView.css