@import '../../styles/vars.css';

.main {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;

  :global {
    .__actionHeader {
      display    : flex;
      align-items: center;

      height      : $TOP_NAV_HEIGHT;
      padding-top : 0px;
      padding-left: 0px;
      padding-left: 0px;

      margin-top : 0px;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/pages/pipelines/PipelinesExecutionPage.css