@import '../../styles/vars.css';
@import '../../styles/icons8-classes.css';

.main {
  z-index: 9999;

  :global {
    .modal-dialog {
      width: 800px;
    }

    .modal-body {
      .errors {
        padding: 10px 0;
        color: $RED_ERROR;
      }

      form {
        fieldset {
          > div {
            &:first-of-type {
              > label[for='root_stageType'] {
                display: none;
              }

              .field-radio-group {
                display: flex;
                align-items: center;

                > div {
                  margin: 0 20px 0 0;
                }
              }
            }
          }
        }
      }
    }

    .modal-error {
      display: none;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/PipelinePage/EditPipelineStageModal.css