@import "../../styles/vars.css";

.headerBar {
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  .downloadLink {
    position: absolute;
    right: 0;
    font-weight: bold;
  }
}

.main {
  padding-top: 20px;

  :global {
    .__dl {
      margin: 15px;
      margin-left: 16px;
    }

    .__status_ENABLED {
      margin-left: 10px;
    }

    .__status_Connected {
      color: var(--color-green);
    }

    .__status_Disconnected {
      color: $YELLOW_WARNING;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/AccInstallationPage/AccInstallationPage.css