.column {
  height: 24px;
  padding: 0 0.5rem;
}
.dragColumn {
  position: relative;
  border: solid 1px transparent;
  border-radius: 4px;
}
.dragColumn.isSelected {
  color: #038cd3;
}
.dragColumn.isSelected .column::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
}
.dragColumn.isSelectable:hover:not(.isDragging) .menuToggle {
  opacity: 1;
}
.dragColumn.isSelectable:hover:not(.isDragging).isSelectable:hover:not(.isSelected) {
  border: #cbd6dc 1px solid;
  background-color: rgba(224, 230, 233, 0.25);
}
.dragColumn.isDragging {
  opacity: 0.5;
  background-color: #038cd3;
  color: white;
  z-index: 1;
}
.dragColumn.isDragging + .dragColumn {
  border-top: 1px solid rgba(224, 230, 233, 0.5);
}
.menuToggle {
  opacity: 0;
}
.isHidden {
  opacity: 0.5;
}
.isHidden:hover .menuToggle {
  opacity: 1;
}
.isSelected {
  border: #038cd3 1px solid;
  background-color: #ebf8ff;
}
.typeIcon {
  width: 1rem;
  margin-right: 0.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  opacity: 0.8;
  color: #90a2a7;
}
.moveDropzone {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}
.moveDropzone.canDrop {
  pointer-events: initial;
}
.moveDropzone.isActive .moveLine {
  position: absolute;
  top: 50%;
  width: 100%;
  border-bottom: 2px solid #038cd3;
}
.moveDropzone.isTop {
  height: 50%;
  top: 0;
}
.moveDropzone.isTop.isActive {
  border-top: 2px solid #038cd3;
}
.moveDropzone.isLast {
  height: 50%;
}
.moveDropzone.isLast.isActive {
  border-bottom: 2px solid #038cd3;
}
.placeholder {
  background-color: #f9fafa;
  border: 1px dashed #cbd6dc;
  color: #90a2a7;
  text-align: center;
}
.placeholder.isOver {
  background-color: white;
  border-color: #038cd3;
  color: #038cd3;
}
.menuShown {
  opacity: 1;
}
.input {
  padding: 0 4px;
  height: inherit;
}



// WEBPACK FOOTER //
// ./src/components/ColumnView/Column/TreeColumn.less