.main {
  text-align: center;
  margin-top: 15px;

  span {
    margin-right: 10px;
    color: #0ec0ca;
    font-size: 20px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  :global {
    .__text {
      color: #999;
      font-size: 13px;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/components/NewDataSinceLastTime/NewDataSinceLastTime.css