.header {
  height: 2rem;
}
.keyGroup {
  background-color: rgba(224, 230, 233, 0.4);
  border-radius: 2px;
}
.keyIcon {
  width: 1rem;
  margin-right: 0.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: #f5ce4a;
}
.line {
  border-bottom: 1px solid #cbd6dc;
}



// WEBPACK FOOTER //
// ./src/components/ColumnView/Group/TreeGroup.less