.label-row {
  margin: 0 0 8px 0;
  text-align: left;
}
.label-row .last {
  margin-right: 10px;
}
.list {
  overflow-y: auto;
  height: 220px;
}



// WEBPACK FOOTER //
// ./src/components/ColumnMultiSorter/ColumnMultiSortList.less