.main {
  display: flex;
  flex: 1;
  width: 100%;

  ui-card {
    border-top: none;
  }

  :global {
    service-name-string {
      display: flex;
      align-items: baseline;

      service-name {
        display: flex;
        align-items: baseline;
        font-size: 14px;
      }

      app-name {
        display: flex;
        align-items: baseline;
        font-size: 11px;
        margin-left: 6px;
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/Dashboard/DashboardServiceInstancesTables.css