@import "../../styles/vars.css";

.home {
  margin-top: var(--indent-width);

  service-instances-table-container {
    display: flex;
  }

  :global {
    instances-summary {
      ui-card {
        header {
          .header-title {
            color: var(--accent-color);
          }
        }
      }
    }

    .__hide {
      display: none;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/Dashboard/Dashboard.css