.flex-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.flex-item {
  -ms-flex: 1 1;
      flex: 1 1;
  min-width: 0;
}

.align-start {
  -ms-flex-align: start;
      align-items: flex-start;
}

.align-center {
  -ms-flex-align: center;
      align-items: center;
}

.justify-center {
  -ms-flex-pack: center;
      justify-content: center;
}

.justify-end {
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.justify-space {
  -ms-flex-pack: justify;
      justify-content: space-between;
}



// WEBPACK FOOTER //
// ./src/styles/flex.css