@import '~@sigmacomputing/normalize.css/normalize.css';
@import './antd.css';
@import './antd-icon.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@import './flex.css';

body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #21454e;
  line-height: 1.4;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga' on;
}

button {
  padding: 0;
  color: inherit;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  background: transparent;
  color: #038cd3;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

a[disabled] {
  cursor: not-allowed;
  pointer-events: none;
}

.g_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .g_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .g_container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .g_container {
    width: 1170px;
  }
}



// WEBPACK FOOTER //
// ./src/styles/globals.css