.light,
.bodyLarge {
  font-weight: 300;
}
.regular,
.display1,
.header1,
.header2,
.header3,
.bodyMedium,
.bodySmall {
  font-weight: 400;
}
.bold,
.header4,
.header5,
.header6 {
  font-weight: 600;
}
.display1 {
  font-size: 38px;
}
.header1 {
  font-size: 30px;
}
.header2 {
  font-size: 24px;
}
.header3 {
  font-size: 20px;
}
.header4 {
  font-size: 16px;
}
.header5 {
  font-size: 14px;
}
.header6 {
  font-size: 12px;
}
.bodyLarge {
  font-size: 16px;
  font-weight: 300;
}
.bodyMedium {
  font-size: 14px;
}
.bodySmall {
  font-size: 12px;
}
.formula {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 14px;
}
.table {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Robot', 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-feature-settings: 'tnum', 'lnum';
          font-feature-settings: 'tnum', 'lnum';
  font-size: 12px;
}



// WEBPACK FOOTER //
// ./src/styles/typography.less