module.exports = "<svg viewBox=\"0 0 50 160\"><g stroke=none stroke-width=1 fill=none fill-rule=evenodd stroke-linecap=round stroke-dasharray=1,8 stroke-linejoin=round><g stroke=#A7B2B8 stroke-width=2><g transform=\"translate(1.000000, -2.000000)\"><path d=\"M24,148 L24,0\"/><polyline points=\"47.8310154 134 23.9155077 161 0 134\"/></g></g></g></svg>";


//////////////////
// WEBPACK FOOTER
// ./app/components/Icon/default_svg_paths/dottedArrow.html
// module id = ./app/components/Icon/default_svg_paths/dottedArrow.html
// module chunks = commons