@import "../SecretsManagementPage.css";

.main {
  :global {
    .react-grid-Container {
      width: 855px !important;
    }
    .react-grid-Main {
      --table-1-header-bg: none !important;
      --table-1-body-color: none !important;
      background-color: #ddd !important;
    }
    .react-grid-Grid {
      background-color: #ddd !important;
    }
  }
  padding: 0px;
}

.logData {
  display: inline-block;
  width: 30px;
  text-align: right;
}
:global {
  .no-data-box {
    margin-top: 6px;
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/SecretsManagementPage/views/EncryptedVariableListView.css