@import "../SecretsManagementPage.css";

.main {
  :global {
    .modal-dialog {
      width: 850px;
    }
  }
}

.nameValueList {
  margin-left: -10px;
  dt {
    width: 35%;
  }
  dd {
    width: 65%;
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/SecretsManagementPage/views/UsageViewModal.css