.boundCol {
  color: #038cd3;
}
.unboundCol {
  color: #cd5a60;
}
.parseError span,
.unboundCol span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-color: #cd5a60;
          text-decoration-color: #cd5a60;
}



// WEBPACK FOOTER //
// ./src/components/editor/Syntax.less