input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-search-cancel-button,
input::-webkit-search-decoration,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

[class^="css-"],
[class*=" css-"] {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  margin: 0;
  padding: 0;
  outline: 0;
  background-color: transparent;
  color: inherit;
  font: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-decoration: none;
  list-style: none;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

iframe[height="1px"] {
  display: none;
}

.OneLinkShow {
  display: none !important;
}

.OneLinkPoweredBy {
  display: none;
}

.css-aitllj,
[data-css-aitllj] {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

@media (min-width: 1024px) {
  .css-aitllj,
  [data-css-aitllj] {
    overflow-x: hidden;
  }
}

.css-68zqxa,
[data-css-68zqxa] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
}

.css-1q28vlx,
[data-css-1q28vlx] {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex: none;
  -webkit-flex: none;
}

.css-cwmikj,
[data-css-cwmikj] {
  display: block;
  max-width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.css-2ah46e,
[data-css-2ah46e] {
  display: inline-block;
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

.css-13azwyo,
[data-css-13azwyo] {
  position: relative;
}

.css-1eovx1e,
[data-css-1eovx1e] {
  flex-basis: 50%;
  -webkit-flex-basis: 50%;
}

.css-1l9a57c,
[data-css-1l9a57c] {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.css-fisw11,
[data-css-fisw11] {
  display: block;
}

.css-1xjs42k,
[data-css-1xjs42k] {
  margin-right: -8px;
}

.css-1lr2cny,
[data-css-1lr2cny] {
  display: inline-block;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}

.css-5nv4xc,
[data-css-5nv4xc] {
  line-height: 0;
  position: relative;
}

.css-z08k0m,
[data-css-z08k0m] {
  flex-basis: 0%;
  min-width: 0;
  flex: 1;
  -webkit-flex-basis: 0%;
  -webkit-flex: 1;
}

.css-hwvzu2,
[data-css-hwvzu2] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -webkit-flex-flow: row wrap;
}

.css-tw0esu,
[data-css-tw0esu] {
  position: relative;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}

.css-11p552p,
[data-css-11p552p] {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.css-gtdio3,
[data-css-gtdio3] {
  overflow: hidden;
  position: relative;
}

.css-1cqgl9p,
[data-css-1cqgl9p] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.css-a3jcru,
[data-css-a3jcru] {
  background-color: rgba(255, 255, 255, .75);
  background-image: url(/img/ufe/loader.gif);
  background-position: center;
  background-repeat: no-repeat;
  cursor: wait;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
}

.css-1mok2x0,
[data-css-1mok2x0] {
  font-size: 12px;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  min-width: 1024px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.css-5gcev7,
[data-css-5gcev7] {
  flex: 1 0 auto;
  padding-bottom: 48px;
  -webkit-flex: 1 0 auto;
}

.css-skisv9,
[data-css-skisv9] {
  box-sizing: content-box;
  width: 980px;
  padding-right: 22px;
  padding-left: 22px;
  margin-right: auto;
  margin-left: auto;
}

.css-1m01lg3,
[data-css-1m01lg3] {
  position: relative;
  box-shadow: 0 1px 10px -1px rgba(0, 0, 0, 0.125);
  z-index: 1000;
}

.css-y7jxqn,
[data-css-y7jxqn] {
  background-color: #000;
  color: #fff;
  font-size: 12px;
}

.css-1y3my8b,
[data-css-1y3my8b] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 34px;
  align-items: center;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
}

.css-j6zbc8,
[data-css-j6zbc8] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-right: -12px;
  margin-left: -12px;
}

.css-1n5gs00,
[data-css-1n5gs00] {
  display: block;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
}

.css-1n5gs00:active,
[data-css-1n5gs00]:active {
  color: #ccc;
}

.css-1n5gs00:hover,
[data-css-1n5gs00]:hover {
  color: #ccc;
}

.css-1inkccm,
[data-css-1inkccm] {
  position: relative;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: inherit;
  fill: currentColor;
  width: 1.375em;
  height: 1em;
  top: -.125em;
  margin-right: .5em;
}

.css-dk0ctq,
[data-css-dk0ctq] {
  position: relative;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 1.125em;
  fill: currentColor;
  width: .75em;
  height: 1em;
  margin-right: .5em;
}

.css-1nydmvf,
[data-css-1nydmvf] {
  position: relative;
  outline: none;
}

.css-s7654d,
[data-css-s7654d] {
  cursor: default;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 34px;
  align-items: center;
  padding-right: 12px;
  padding-left: 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
}

.css-yxd7nm,
[data-css-yxd7nm] {
  display: inline-block;
  max-width: 100%;
  height: 1em;
  width: 1.5em;
  margin-right: .5em;
}

.css-1yi4eki,
[data-css-1yi4eki] {
  width: 2.16em;
}

.css-12erfd1,
[data-css-12erfd1] {
  width: 0;
  height: 0;
  vertical-align: middle;
  color: inherit;
  border-left: .375em solid transparent;
  border-right: .375em solid transparent;
  border-top: .4375em solid;
  border-bottom: 0;
  display: inline-block;
  margin-left: .5em;
}

.css-1g1ytcc,
[data-css-1g1ytcc] {
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
}

.css-mvuvcj,
[data-css-mvuvcj] {
  position: relative;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .15);
  color: #fff;
  background-color: #000;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
}

.css-j2jgrx,
[data-css-j2jgrx] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding-top: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
}

.css-mv3cil,
[data-css-mv3cil] {
  position: relative;
  width: 203px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
}

.css-x6bwlo,
[data-css-x6bwlo] {
  font-family: inherit;
  font-size: 14px;
  vertical-align: middle;
  width: 100%;
  height: 40px;
  padding-left: 30px;
  padding-right: 24px;
  color: #000;
  background-color: #fff;
  border-width: 1px;
  border-radius: 4px;
  border-color: #ccc;
  -webkit-appearance: none;
  display: block;
}

.css-x6bwlo:disabled,
[data-css-x6bwlo]:disabled {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 0.7;
}

.css-x6bwlo::placeholder,
[data-css-x6bwlo]::placeholder {
  color: #999;
  opacity: 1;
}

.css-x6bwlo:focus,
[data-css-x6bwlo]:focus {
  border-color: #000;
  outline: 0;
}

.css-x6bwlo:focus::placeholder,
[data-css-x6bwlo]:focus::placeholder {
  color: #ccc;
}

.css-x6bwlo::-ms-clear,
[data-css-x6bwlo]::-ms-clear,
.css-x6bwlo::-ms-reveal,
[data-css-x6bwlo]::-ms-reveal {
  display: none;
}

.css-1sp5oyj,
[data-css-1sp5oyj] {
  position: absolute;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 16px;
  fill: currentColor;
  width: 1em;
  height: 1em;
  transform: translate(0, -50%);
  color: #777;
  top: 50%;
  left: 9px;
  pointer-events: none;
  -webkit-transform: translate(0, -50%);
}

.css-1nrtvw8,
[data-css-1nrtvw8] {
  display: block;
  height: 28px;
  max-width: 100%;
  width: 216px;
}

.css-1glgnws,
[data-css-1glgnws] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 57px;
  align-items: center;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
}

.css-1tsimjc,
[data-css-1tsimjc] {
  position: relative;
  outline: none;
  margin-right: 8px;
}

.css-15ukl7w,
[data-css-15ukl7w] {
  cursor: default;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 54px;
  min-width: 180px;
  font-size: 12px;
  position: relative;
  align-items: center;
  padding-right: 32px;
  padding-left: 16px;
  border-right-width: 1px;
  border-right-style: solid;
  -webkit-box-align: center;
  -webkit-align-items: center;
}

.css-1s5kjhg,
[data-css-1s5kjhg] {
  width: 0;
  height: 0;
  vertical-align: middle;
  color: inherit;
  border-left: .375em solid transparent;
  border-right: .375em solid transparent;
  border-top: .4375em solid;
  border-bottom: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}

.css-a27ygk,
[data-css-a27ygk] {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}

.css-17pbsql,
[data-css-17pbsql] {
  position: relative;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .15);
  color: #000;
  background-color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
}

.css-1v9rzc4,
[data-css-1v9rzc4] {
  line-height: 1.25;
  padding-top: 4px;
}

.css-zuegwn,
[data-css-zuegwn] {
  cursor: pointer;
  transition: opacity .2s;
  display: block;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  width: 100%;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
}

.css-zuegwn:active,
[data-css-zuegwn]:active {
  opacity: 0.5;
}

.css-zuegwn:hover,
[data-css-zuegwn]:hover {
  opacity: 0.5;
}

.css-1sf94qj,
[data-css-1sf94qj] {
  color: #eee;
  margin-top: 8px;
  margin-right: 16px;
  margin-bottom: 8px;
  margin-left: 16px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.css-yb6xqi,
[data-css-yb6xqi] {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.css-yb6xqi:hover [data-tooltip],
[data-css-yb6xqi]:hover [data-tooltip] {
  display: block;
}

.css-igxu9p,
[data-css-igxu9p] {
  position: absolute;
  bottom: 100%;
  left: 50%;
  border: 6px solid transparent;
  border-top-color: transparent;
  border-bottom-color: #000;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

.css-jjjez,
[data-css-jjjez] {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  background-color: #000;
  transform: translate(-50%, 8px);
  display: none;
  padding-top: .375em;
  padding-bottom: .375em;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-transform: translate(-50%, 8px);
}

.css-1wr9rdd,
[data-css-1wr9rdd] {
  line-height: 0;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}

.css-mofe1a,
[data-css-mofe1a] {
  position: relative;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 24px;
  fill: currentColor;
  width: 1.25em;
  height: 1em;
}

.css-cv2kbs,
[data-css-cv2kbs] {
  position: relative;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 27px;
  fill: currentColor;
  width: 1.125em;
  height: 1em;
}

.css-ib1t8u,
[data-css-ib1t8u] {
  position: absolute;
  right: 0;
  top: 100%;
  width: auto;
}

.css-12dbeyg,
[data-css-12dbeyg] {
  position: relative;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .15);
  color: #000;
  background-color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
}

.css-1ciwugh,
[data-css-1ciwugh] {
  width: 380px;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}

.css-1nl2dwj,
[data-css-1nl2dwj] {
  font-size: 18px;
}

.css-nydrkp,
[data-css-nydrkp] {
  color: #eee;
  margin-top: 12px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.css-1lu5t37,
[data-css-1lu5t37] {
  flex-basis: auto;
  min-width: 0;
  margin-left: 12px;
  -webkit-flex-basis: auto;
}

.css-1hoqb25,
[data-css-1hoqb25] {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: .0625em;
  border-width: 1px;
  border-color: transparent;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 40px;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: opacity .2s;
  background-color: #000;
  color: #fff;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
}

.css-1hoqb25:focus,
[data-css-1hoqb25]:focus {
  outline: 0;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(0, 0, 0, 0.5);
}

.css-1hoqb25:disabled,
[data-css-1hoqb25]:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 1;
  color: #aaa;
  background-color: #eee;
}

.css-1hoqb25:active,
[data-css-1hoqb25]:active {
  opacity: 0.75;
}

.css-1hoqb25:hover,
[data-css-1hoqb25]:hover {
  opacity: 0.75;
}

.css-7jqf2e,
[data-css-7jqf2e] {
  color: #eee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.css-kmhio2,
[data-css-kmhio2] {
  margin-top: 12px;
}

.css-1pbtupk,
[data-css-1pbtupk] {
  cursor: pointer;
  transition: opacity .2s;
  color: #328AFB;
  display: inline-block;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
}

.css-1pbtupk:active,
[data-css-1pbtupk]:active {
  opacity: 0.5;
}

.css-1pbtupk:hover,
[data-css-1pbtupk]:hover {
  opacity: 0.5;
}

.css-qwl2mt,
[data-css-qwl2mt] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 40px;
  position: relative;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
}

.css-1aji7dj,
[data-css-1aji7dj] {
  line-height: 1.25;
}

.css-1p28kgb,
[data-css-1p28kgb] {
  cursor: default;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 40px;
  font-weight: 700;
  letter-spacing: .0625em;
  text-transform: uppercase;
  position: relative;
  align-items: flex-end;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
}

.css-1bfbykc,
[data-css-1bfbykc] {
  background-color: #fff;
  display: none;
  height: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.css-1n48pye,
[data-css-1n48pye] {
  position: relative;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: transparent;
}

.css-mjag8d,
[data-css-mjag8d] {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  min-width: 216px;
}

.css-r9wkrb,
[data-css-r9wkrb] {
  position: static;
  outline: none;
}

.css-1700mf3,
[data-css-1700mf3] {
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 40px;
  letter-spacing: .0625em;
  text-transform: uppercase;
  position: relative;
  align-items: flex-end;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
}

.css-59ahbt,
[data-css-59ahbt] {
  cursor: default;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 40px;
  letter-spacing: .0625em;
  text-transform: uppercase;
  position: relative;
  align-items: flex-end;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
}

.css-1g0u73l,
[data-css-1g0u73l] {
  display: inline-block;
  height: 29px;
  max-width: none;
  width: 108%;
  position: absolute;
  top: -5px;
  left: 0;
}

.css-15h0gcb,
[data-css-15h0gcb] {
  word-wrap: break-word;
  color: #fff;
  font-weight: 500;
  position: relative;
}

.css-1swljdh,
[data-css-1swljdh] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  margin-right: -8px;
  margin-left: -8px;
  -webkit-flex-flow: row wrap;
}

.css-1tq5bvu,
[data-css-1tq5bvu] {
  margin-left: -22px;
  margin-right: -22px;
}

@media (min-width: 1024px) {
  .css-1tq5bvu,
  [data-css-1tq5bvu] {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    margin-right: auto;
  }
}

.css-1dphs9r,
[data-css-1dphs9r] {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.css-163ox12,
[data-css-163ox12] {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.css-1m70hwv,
[data-css-1m70hwv] {
  padding-bottom: 48px;
}

.css-xne0ln,
[data-css-xne0ln] {
  max-width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.css-6zuxt9,
[data-css-6zuxt9] {
  flex-basis: auto;
  min-width: 0;
  padding-left: 8px;
  padding-right: 8px;
  width: 50%;
  -webkit-flex-basis: auto;
}

.css-1km48ll,
[data-css-1km48ll] {
  padding-top: 48px;
  padding-bottom: 48px;
}

.css-249fd0,
[data-css-249fd0] {
  padding-top: 48px;
}

.css-rdw8u9,
[data-css-rdw8u9] {
  text-align: center;
  margin-bottom: 24px;
}

.css-1tzek2p,
[data-css-1tzek2p] {
  display: block;
  font-size: 32px;
  line-height: 1;
  font-family: georgia, times, serif;
}

.css-kaixsa,
[data-css-kaixsa] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

.css-y6wlvu,
[data-css-y6wlvu] {
  flex-basis: auto;
  min-width: 0;
  width: 25%;
  -webkit-flex-basis: auto;
}

@-webkit-keyframes animation_1rs55f4 {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  20% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  100% {
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
  }
}

@-moz-keyframes animation_1rs55f4 {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  20% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  100% {
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
  }
}

@-o-keyframes animation_1rs55f4 {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  20% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  100% {
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
  }
}

@keyframes animation_1rs55f4 {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  20% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  100% {
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
  }
}

.css-8v138s,
[data-css-8v138s] {
  font-size: 12px;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
  text-align: center;
}

.css-8v138s h1,
[data-css-8v138s] h1,
.css-8v138s h2,
[data-css-8v138s] h2,
.css-8v138s h3,
[data-css-8v138s] h3,
.css-8v138s h4,
[data-css-8v138s] h4,
.css-8v138s h5,
[data-css-8v138s] h5,
.css-8v138s h6,
[data-css-8v138s] h6 {
  margin-top: 1em;
  margin-bottom: .5em;
  line-height: 1.25;
}

.css-8v138s h1,
[data-css-8v138s] h1 {
  font-size: 24px;
}

.css-8v138s h2,
[data-css-8v138s] h2 {
  font-size: 18px;
}

.css-8v138s h3,
[data-css-8v138s] h3 {
  font-size: 16px;
}

.css-8v138s h4,
[data-css-8v138s] h4 {
  font-size: 14px;
}

.css-8v138s h5,
[data-css-8v138s] h5 {
  font-size: 12px;
}

.css-8v138s h6,
[data-css-8v138s] h6 {
  font-size: 11px;
}

.css-8v138s p,
[data-css-8v138s] p,
.css-8v138s ul,
[data-css-8v138s] ul,
.css-8v138s ol,
[data-css-8v138s] ol {
  margin-top: 0;
  margin-bottom: 1em;
}

.css-8v138s ul,
[data-css-8v138s] ul,
.css-8v138s ol,
[data-css-8v138s] ol {
  padding-left: 0;
  margin-left: 1.25em;
}

.css-8v138s> :first-child,
[data-css-8v138s]> :first-child {
  margin-top: 0;
}

.css-8v138s> :last-child,
[data-css-8v138s]> :last-child {
  margin-bottom: 0;
}

.css-8v138s a,
[data-css-8v138s] a {
  color: inherit;
  text-decoration: none;
}

.css-r2g7j,
[data-css-r2g7j] {
  background-color: Black;
}

html.hideDefaults .isDefault {
  visibility: hidden;
}
