@import "../../styles/vars.css";

.main {
  display: flex;
  color: var(--text-color);

  :global {
    labelling-dropdown {
      ul {
        li:not(:first-child) {
          padding: 2px 10px;
          min-height: 32px;
          display: flex;
          align-items: center;

          .checkbox-inline {
            display: flex;
            flex: 1;
            margin-left: 0px !important;

            input[type="checkbox"] {
              display: flex;
              margin: 0px;
              margin-top: 1px;
              align-self: center;
            }
          }

          label-text {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-left: var(--ui-card-padding);

            main-label {
              display: flex;
            }

            label-extension {
              display: flex;
              /* color: #706868; */
              color: var(--color-grey-dark);
              margin-top: -5px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/components/CheckboxDropdown/CheckboxDropdown.css