@import '../../styles/vars.css';

.home {
  :global {
    padding: 0px 0px;
    margin: 0px;

    @media (min-width: 767px) {
      .content {
        /*padding: 10px 10px;*/
      }
    }

    .wings-card-col {
      margin-bottom: 12px;
    }
    .__hide {
      display:none;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ApplicationPage/ApplicationPage.css