@import '../../styles/vars.css';
@import '../../styles/icons8-classes.css';
.main {
  min-width:25%;
  max-width: 35%;
  position: fixed;
  bottom: 5px;
  right: 0;
  border: 6px solid rgba(58, 68, 73, 0.3);
  border-right: none;
  border-bottom: none;
  z-index: 1550;
  font-size: 16px;

  :global{

    .modal-header {
      color: $ACCENT_COLOR;
      height: 55px;
      border-bottom-color: #798183;

      .close {
        color: $ACCENT_COLOR;
      }
    }

    .modal-content {
      height: 100%;
      color: #6F6F6F;
      background-color: #393939;

      .__steps {
        font-size: large;
        font-weight: bold;

        .__step {
          margin-bottom: 10px;
          cursor: pointer;
        }

        .badge {
          margin-right: 10px;
          font-size: large;
          color: #000;
        }

        .inprogress {
          color: #fff;
          .badge {
            background-color: #fff;
          }
        }

        .done {
          color: #4ED16D;
          &:after{
            font-family: "icons8";
            @mixin icons8-checkmark-content;
            margin-left: 5px;
          }
          .badge {
            background-color: #4ED16D;
          }
        }
      }
    }

    .modal-title {
      color:white;
    }

    .modal-footer {
      border-top: none;
      padding-top: 0;
    }

    .__endTour {
      font-size: small;
    }
    .hide {
      display: none
    }
    .resume  {
      font-size:20px;
      margin-left:20px;
      border-bottom:1px solid;
      color:var(--color-blue);
      padding-bottom:5px;
      font-family: "icons8"

    }
    .resume-icon {
      font-size: 15px;
      margin-left: 10px;
    }
  };
}




// WEBPACK FOOTER //
// webpack:///src/components/WingsTour/TourProgress.css