@import '../../styles/vars.css';

.main {
  .policyContent{

  }
  .content{
    font-size: 13px;
    font-family: "Helvetica Neue";
    color: #666666;
  }


  :global{

   .modal-body {
     max-height: 500px;
    overflow-y: auto;
   }
    h1,h2 {
      font-family: "Helvetica Neue";
      color: #292929;
   }
  }

}



// WEBPACK FOOTER //
// webpack:///src/containers/RegisterPage/PolicyModal.css