@import '../../styles/vars.css';

.main {
  background: none;

  :global{

  .emailAlreadySent {
    display: table;
    /* width: 200px; */
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
    .modal-dialog {
      margin: 0 auto;
      height: 100vh;
    }

    .modal-header {
      border: none;
    }

    .modal-content {
      padding: 45px;
      padding-top: 10%;
      background-color: #393939;
      color: #fff;
      font-size: 14px;
      height: 100%;
      opacity: 0.95;
    }

    .__largeText {
      font-size: 1.8em;
      font-weight: bold;
    }

    .__heading {
      padding-bottom: 10%;
    }

    .modal-footer {
      border: none;
    }

    button.btn-primary {
      background-color: $ACCENT_COLOR;
      text-transform: capitalize;
      width: 70%;
      padding: 15px;
      font-size: large;
      font-weight: bold;
    }

    button.btn-info {
      text-transform: none;
      background-color: #fff;
      color: $ACCENT_COLOR;
      width: 175px;
      margin-right: 20px;
    }

    .wingsLogo {
      background: url(/img/HARNESS_LOGO_02.png) no-repeat;
      text-indent: -9999px;
      width: 376px;
      height: 73px;
      display: inline-block;
      margin: auto;
    }

  };
}



// WEBPACK FOOTER //
// webpack:///src/containers/RegisterPage/RegisterModal.css