.page {
  height: 100vh;
  overflow: hidden;
  background-color: #fafafa;
}
.formContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  padding: 32px 100px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 11px 0 rgba(147, 147, 147, 0.5);
          box-shadow: 0 2px 11px 0 rgba(147, 147, 147, 0.5);
  background-color: white;
  text-align: center;
}
.logo {
  position: absolute;
  top: 0;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.logoText {
  font-size: 24px;
}
.infoText {
  color: #90a2a7;
  font-size: 14px;
  margin-bottom: 12px;
}



// WEBPACK FOOTER //
// ./src/containers/LoginPage/Login.less