.main {
  .inline {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .colorBox {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #eee;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    /* background-color: var(--color-blue); */
  }
  .widthSmall {
    width: 200px;
  }
  .widthMedium {
    width: 500px;
  }
  .widthLarge {
    width: 1200px;
  }
  .addGaps {
    button {
      margin-right: 10px;
    }
  }
  .bold {
    font-weight: bold;
  }
}

.customPopover {
  ui-popover-content {
    color: red;
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/TestPage/TestComponents.css