
.main {

  :global {

  }
  .numberInput {
    padding: 5px;
    border: 1px solid #ddd;
 }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/WorkflowEditor/custom/AppDynamicsVerificationModal.css