@import "../../../styles/vars.css";
.main {
  :global {
    #root_enableAutoRollback + span {
      font-weight: bold;
    }
    #root_ignoreApplicationStopFailures + span {
      font-weight: bold;
    }
    label[for='root_autoRollbackConfigurations'] {
      display: none;
    }
    .btn-link {
      float: right;
    }
  }
  .AdvStgsBtn {
    position: relative;
    top: -28px;
    color: grey;
    pointer-events: none;
    float: right;
  }
  .autoRollBack {
  }
  .customField {
  }
  ,
  .marginTop {
    margin-top: 15px;
  }
  .submitBtn {
    margin-top: 15px;
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/WorkflowEditor/custom/AwsCodeDeployStepModal.css