@import "../../../styles/vars.css";
.main {
  :global {
    .modal-dialog {
      width: 750px;
    }
    label[for="root"] {
      border-bottom: 1px solid #c3c8ca;
      width: 100%;
    }
    legend {
      display: none;
    }

    .field-object fieldset {
      position: relative;
    }
  }
}
.mainTitle {
}



// WEBPACK FOOTER //
// webpack:///src/containers/WorkflowEditor/custom/AWSLambdaVerificationModal.css