@import "../../../styles/vars.css";
@import "../../../styles/icons8-classes.css";
.main {
  :global {
    .form-group.field.field-array {
      display: flex;

      .field.field-array.field-array-of-object {
        display: flex;
        flex-direction: column;

        width: 100%;
        overflow: hidden;

        legend {
          display: flex;
          border: none;
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 21px;
          color: $TEXT_COLOR;
        }
      }
    }

    .array-item-list {
      display: flex;
      flex-direction: column;
      background-color: white;

      border: 1px solid #d2d6de;
      box-sizing: border-box;
      border-radius: 4px;
      overflow: hidden;
      width: 100%;
      overflow: visible;

      padding: 0px;
      margin: 0px;

      .array-item {
        display: flex;
        align-items: flex-start;
        cursor: default;
        box-sizing: border-box;
        background-color: #f4f0f0;
        border-bottom: 1px solid #d2d6de;
        padding: 0px 16px 0px 2px;

        &:last-child {
          border-bottom: unset;
          border-bottom-left-radius: 4px !important;
          border-bottom-right-radius: 4px !important;
        }

        &:first-child {
          border-top-left-radius: 4px !important;
          border-top-right-radius: 4px !important;
          .control-label {
            display: flex !important;
            position: absolute !important;
            top: -24px !important;
            margin-left: 4px;
          }
        }

        .col-xs-3 {
          display: flex;
          width: 0px;
          margin-left: auto;
        }

        .col-xs-9 {
          display: flex;
          flex: 1;
          padding: 0px;
          margin: 0px;
          width: 90%;

          .field-object {
            display: flex !important;
            margin-bottom: 0px;
            width: 100%;

            fieldset {
              display: block !important;
              width: 100%;

              .control-label {
                display: none;
              }

              .field-string {
                display: inline-flex !important;
                margin-bottom: 0px;
                height: 100%;
                width: 50%;
                align-items: center;

                [id*="root_parameters_"] {
                  display: flex !important;
                  align-items: center !important;
                  height: 100%;
                  padding: 0px;
                  padding-left: 6px;
                  height: 32px;
                  margin: 2px 0px;
                  border-radius: 3px !important;
                  font-weight: 500;

                  &:hover {
                    border: 1px solid grey;
                    border-radius: 3px;
                    box-sizing: border-box;
                    font-weight: 600;
                  }
                }

                [id*="root_parameters_"][id$="_value"] {
                  margin-left: 12px !important;
                }
              }
            }
          }
        }
      }
    }

    .btn-add {
      text-transform: capitalize;
      padding: 0;
      margin: 0;
      border: 0;
      background: transparent;
      font-weight: 400;
      color: #0275d8;
      border-radius: 0;
      box-shadow: none;
    }

    .btn-add::after {
      content: "Add";
    }

    .btn-add i {
      font-family: "icons8";
      &:before {
        @mixin icons8-plus-math-content;
      }
    }

    .btn-primary,
    .btn-info {
      box-shadow: none;
    }

    .btn-add,
    .btn-add.active,
    .btn-add:active,
    .btn-add:disabled {
      background-color: transparent;
    }

    .btn-danger i {
      font-family: "icons8";
      margin-top: 4px;
      &:before {
        @mixin icons8-delete-content;
      }
    }

    .array-item-add {
      position: absolute;
      top: 165px;
      right: -39px;
    }

    .array-item-remove {
      background: none !important;
      color: black;
      border: none;
    }

    .array-item-remove i,
    .btn-danger i {
      font-family: "icons8";
      &:before {
        @mixin icons8-delete-content;
      }
    }
    .array-item-move-up,
    .array-item-move-down {
      display: none;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/WorkflowEditor/custom/BambooVerificationModal.css