@import '../../../styles/vars.css';
@import '../../../styles/icons8-classes.css';
.main {

  :global {

    .btn-add i {
      font-family: "icons8";
      &:before{
        @mixin icons8-plus-math-content;
      }
    }

    .btn-add {
      text-transform: capitalize;
      padding:0;
      margin:0;
      border:0;
      background: transparent;
      font-weight: 400;
      color: #0275d8;
      border-radius: 0;
      box-shadow: none;
    }

    .btn-primary,.btn-info{
      box-shadow: none;
    }

    .btn-add,.btn-add.active,.btn-add:active,.btn-add:disabled {
      background-color: transparent;
    }

    .btn-danger i {
      font-family: "icons8";
      &:before{
        @mixin icons8-delete-content;
      }
    }

    .btn-danger::focus {
      border:0px;
    }

    .field-array {
      position: relative;
      legend {
        font-size: 14px;
        font-weight: 700;
      }
    }

    .array-item-add {
      position: absolute;
      top: 0px;
      right: -40px;
    }

    .btn-add::after {
      content:"Add"
    }

    .array-item-remove {
      background: none !important;
      color: black;
      border: 0px;
      right: 99px;
      top: -2px;
    }

    .array-item-remove i,
    .btn-danger i {
      font-family: "icons8";
      &:before{
        @mixin icons8-delete-content;
      }
    }

    .array-item-move-up, .array-item-move-down {
      display:none;
    }

  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/WorkflowEditor/custom/CloudWatchModal.css