@import '../../styles/vars.css';

.main {
  :global {

    }
}

@define-mixin notification {
  font-size: small;
  padding: 8px;
  word-wrap: break-word;
}

.change {
  @mixin notification;
  color:$RED_ERROR;
}

.approval {
  @mixin notification;
}

.failure {
  @mixin notification;
}

.info {
  @mixin notification;
}





.date {
  font-size: small;
  color: $TEXT_COLOR_LIGHT;
  padding: 5px 0px 5px 0px;
}

.buttons {
    button {
     padding:5px;
     margin-right: 5px;
    }
}



// WEBPACK FOOTER //
// webpack:///src/components/TaskNotification/TaskNotificationTemplates.css