.page {
  margin-top: 24px;
  text-align: center;
}
.image {
  width: 100%;
  position: relative;
}
.title {
  font-size: 24px;
  margin-top: -20px;
}
.description {
  color: #90a2a7;
  font-size: 13px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .title {
    font-size: 28px;
    margin-top: -40px;
  }
  .description {
    font-size: 14px;
    margin-top: 10px;
  }
}



// WEBPACK FOOTER //
// ./src/containers/Error404/index.less