.buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.buttons button {
  margin-right: 8px;
}



// WEBPACK FOOTER //
// ./src/utils/oauth2/index.less