@import "../../styles/vars.css";

/* This is very important because it translates the entire popover. */
.popoverportal {
  transform: translate(0px, -8px);
}

:global {
  /* These need global scope because the popover is placed on the page root. */
  .pt-popover.truncate-text-popover {
    margin-bottom: 0px !important;

    .pt-popover-arrow {
      color: var(--color-grey-light-50);
    }

    .pt-popover-content {
      display: flex;
      flex: 1;
      overflow: hidden;
      background: white;
      padding: 0px 12px;
      max-width: 600px;
    }
  }
}

.pt-popover.truncate-text-popover .pt-popover-content multi-line-popover {
  padding: 24px;
}

/* This is the class for the target */
.target {
  display: flex;
  flex: 1;
  width: 100%;

  text-truncator {
    display: flex;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;

    block-required-for-ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      array-element {
        margin-left: 5px;
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/components/TruncateText/TruncateText.css