@import "../../styles/vars.css";

.main {
  margin-top: -8px;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
}

.notesLabel {
  font-weight: bold;
  height: 20px;
  display: inline-block;
}



// WEBPACK FOOTER //
// webpack:///src/containers/DeploymentNotesForm/DeploymentNotesForm.css