.main {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-bottom: 10px;

  textarea {
    margin: 7px;
    height: 60vh;
    font-family: "Courier New";
    color: #000;
    font-size: 13px;
    padding: 5px;
  }

  .footer {
    margin: 7px;
  }

  .reset {
    float: right;
    width: 30%;
    margin-right: 10px;
  }

  :global {
    .form-control {
      margin: 7px;
      width: 20%;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ServiceDetailPage/AdvancedSettings.css