@import '../../styles/vars.css';
@import "../../styles/icons8-classes.css";
.main {
  :global {
  }
  .closeLogOptnBtn {
    font-family: "icons8";
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    box-shadow: none;
    color: gray;
    border: transparent;
    &:before {
      @mixin icons8-delete-content;
    }
  }
}
.error {
  color: var(--color-red);
}



// WEBPACK FOOTER //
// webpack:///src/containers/ServiceDetailPage/KeyValueModal.css