@import "../../../styles/vars.css";

.main {
  :global {
    .no-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      font-size: 18px;
      a {
        &:hover {
          cursor: pointer;
        }
      }
    }

    button {
      margin-left: 10px;
    }

    .artifact-actions {
      display: inline-block;
    }

    ol {
      li {
        margin-top: 10px;

        span {
          margin-right: 10px;

          i {
            cursor: pointer;
          }
        }
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ArtifactStreamPage/views/ArtifactStreamCardView.css