.header {
  background-color: #7cc6ee;
  color: #fff;
  margin-bottom: 80px;
}
.title {
  font-size: 60px;
  padding: 40px 0 100px;
  text-align: center;
}
.container {
  margin-top: 80px;
}



// WEBPACK FOOTER //
// ./src/containers/Terms/TermsOfService.less