@import "../../../styles/vars.css";

.main {
  :global {
    service-command {
      cursor: pointer !important;

      text-truncator {
        justify-content: center;

        block-required-for-ellipsis {
          cursor: pointer !important;
        }
      }
    }
  }

  :global {
    action-buttons {
      display: flex;
      align-items: center;
    }

    service-commands {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .__pill {
        display: flex;
        align-items: center;
        justify-content: center;
        word-wrap: break-word;
        font-weight: normal;
        border-radius: 3px;
        height: var(--pill-height);
        border: 1px solid var(--pill-border-color);
        background: var(--pill-bg-color);
        color: var(--pill-text-color);
        padding: 0px 6px;
        margin-right: 8px;
        width: var(--pill-width);
      }
    }

    .__dl dt {
      margin-bottom: 10px;
    }

    .__dl dd {
      margin-bottom: 10px;
      padding-left: 50px;
    }

    .__configItem {
      padding-right: 10px;
    }

    .__no-source {
      color: #ff8c00;
    }

    /* .icons8-source-code {
      font-size: 18px;
      margin-right: 10px;
      color: $SETUP_AS_CODE_THEME_COLOR;
    } */
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ServicePage/views/ServiceCardView.css