@import '../../styles/vars.css';

.main {
  margin-top: 24px;
  :global {
    display: flex;
    flex-direction: column;
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ServiceInstancesSummaryPage/ServiceInstancesSummaryPage.css