@import "../../styles/vars.css";

:global {
  .service-details-table harness-data-grid {
    .react-grid-Row--even {
      background: var(--table-1-row-bg-odd) !important;
    }

    .react-grid-Row--odd {
      background: var(--table-1-row-bg-even) !important;
    }

    .react-grid-HeaderCell > div:first-child {
      background: var(--table-1-row-bg-even);
    }
  }
}

:global {
  environment-name {
    .pt-popover-target {
      display: flex;
      flex: 1;
      background: transparent;
      overflow: hidden;
      cursor: pointer;
    }
  }
}

.status-message {
  font-weight: bold;
  font-size: 16px;
}

.main {
  margin-top: 24px;
  display: flex;
  flex-direction: column;

  :global {
    ui-card {
      main {
        padding: 0px !important;
      }
    }
  }

  deployment-string {
    display: flex;
    align-items: center;

    deployment-name {
      display: flex;
      align-items: center;
    }

    deployment-time {
      display: flex;
      align-items: center;
      margin-left: 8px;
    }
  }

  environment-container {
    display: flex;
    cursor: pointer !important;
    max-width: 500px;

    environment-name {
      display: flex;
      flex: 1;
      margin-left: 8px;
      overflow: hidden;

      text-truncator {
        cursor: pointer !important;
      }

      &:last-child {
        trailing-comma {
          display: none;
        }
      }

      trailing-comma {
        display: flex;
        color: $TEXT_COLOR !important;
      }

      trailing-comma::after {
        content: ",  ";
      }
    }
  }

  .table {
    margin-bottom: 0px !important;

    tr th {
      color: $TEXT_COLOR !important;
    }

    tr th,
    tr td {
      &:first-child {
        padding-left: var(--ui-card-padding);
      }
      &:last-child {
        padding-right: var(--ui-card-padding);
      }
    }

    thead {
      tr {
        border-bottom: none;
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ServiceInstancesSummaryPage/ServiceInstancesSummaryDetail.css