.main {
  --header-height: 52px;
  --body-height: 52px;
  --color-icon: var(--accent-color);

  @define-mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @define-mixin no-outline {
    &:focus {
      outline: none;
    }
  }

  &:last-child {
    ui-card {
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  display: flex;
  align-items: center;
  width: 100%;

  > ui-card:first-child {
    width: 400px;
    ui-card-header {
      justify-content: flex-start;
      height: var(--header-height);
      border-bottom: 1px solid var(--color-grey-light);

      icon {
        @mixin flex-row;
        font-size: 36px;
        color: var(--color-icon);
      }

      title {
        @mixin flex-row;
        font-size: 16px;
        margin-left: 24px;
      }
    }

    ui-card-main {
      @mixin flex-row;
      flex-direction: row;
      height: var(--body-height);
      overflow: hidden;

      items-container {
        @mixin flex-row;
      }

      item-count {
        @mixin flex-row;
      }

      more-button {
        @mixin flex-row;
        flex: 1;
        justify-content: flex-end;
      }

      items-array {
        @mixin flex-row;
        width: 80%;
      }

      name-container {
        @mixin flex-row;

        item-name {
          @mixin flex-row;
          max-width: 100px;
          margin-left: 5px;

          & * {
            @mixin no-outline;
          }
        }
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/SetupPage/SetupCard.css