@import "../../styles/vars.css";

.main {
  @define-mixin flex-row {
    display: flex;
    align-items: center;
  }

  @mixin flex-row;
  padding-top: var(--indent-width);

  :global {
    .setup-page {
      @mixin flex-row;
      flex: 1;

      > ui-card {
        > ui-card-main {
          @mixin flex-row;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 24px;
          align-items: stretch;

          .card-container {
            display: flex;
            flex-direction: column;
            width: 50%;
            justify-content: stretch;
          }

          left-box {
            flex: 1;
            margin-right: 24px;
          }

          right-box {
            flex: 1;
          }
        }
      }
    }
  }

  ui-card {
    ui-card-header {
      display: flex;
      flex-direction: row;

      button {
        color: var(--color-blue);
        border: none;
        font-size: 14px;
        background: transparent;

        &:hover {
          color: var(--color-link-hover);
        }
      }
    }
  }
}

.modal {
  :global {
    .modal-dialog {
      width: 800px;

      .modal-body {
        form-buttons {
          justify-content: space-between;
        }
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    text-align: left;
    margin-top: -10px;
  }

  thead,
  tbody,
  tr,
  td,
  th {
    box-sizing: border-box;
    display: block;
  }

  tr:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
  }

  thead th {
    height: 30px;
    line-height: 30px;
  }

  tbody {
    min-height: 120px;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;

    tr:last-of-type {
      padding-bottom: 10px;
    }
  }

  thead {
    width: 100%;

    th[data-value] {
      padding-left: 5px;
    }
  }

  td[data-name] {
    width: 28%;
  }

  td[data-type] {
    width: 12%;
    text-align: center;
    padding-left: 0;

    select {
      height: 34px;
      padding: 6px 12px;
      background: none;
      border: 1px solid var(--color-grey-50);
      color: var(--color-black);

      &:focus {
        border: 1px solid var(--color-blue);
        outline: none;
      }
    }
  }

  td[data-value] {
    width: 55%;
  }

  td[data-action] {
    width: 5%;
  }

  tbody {
    border-top: 1px solid var(--color-grey-light);
  }

  tbody td,
  thead th {
    float: left;

    &[data-action] {
      button {
        border: none;
        background: transparent;

        &:focus {
          outline: none;
          border: 1px dotted var(--color-grey-light);
        }
      }
    }
  }

  table {
    thead {
      tr {
        font-weight: bold;
        margin-bottom: 5px;

        th {
          padding-top: 0;
        }
      }
    }

    tbody {
      tr:first-of-type {
        padding-top: 10px;
      }

      td {
        padding-bottom: 0;
      }
    }

    td {
      height: 44px;
      line-height: 30px;
      padding-left: 5px;

      input {
        width: 100%;
        padding: 0px 8px;
        color: var(--color-black);

        &:focus {
          border: 1px solid var(--color-blue);
          padding-top: 1px;
          outline: none;
          padding-left: 9px;
        }
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/SetupPage/SetupPage.css