@import "../../styles/vars.css";

.main {
  margin: 0px var(--indent-width);

  :global {
    #AppDetailTabs {
      margin: 0px;

      > ul {
        display: flex;
        align-items: stretch;

        height: 66px;
        padding: 0px;
        margin: 0px;
      }
    }

    .nav-pills {
      border-bottom: 1px solid $TEXT_COLOR_LIGHT;
    }
    page-container {
      padding: 0px;
    }
    .nav-pills > li {
      display: flex;
      align-items: stretch;
      margin: 0px;
      margin-right: 10px;
    }
    .nav-pills > li:not(:last-child) > a::after {
      content: "|";
      color: $TEXT_COLOR_LIGHT;
      position: absolute;
      margin-left: 22px;
    }
    .nav-pills > li > a {
      display: flex;
      align-self: stretch;
      align-items: center;

      padding: 0px;
      border: 0px;
      margin: 0px;

      position: relative;
      padding-left: 0px;
      color: #2a3339;
      background: none;
      margin-right: 36px;
      font-size: 16.5px;
      padding-right: 0px;
    }
    .nav-pills > li.active > a,
    .nav-pills > li.active > a:focus,
    .nav-pills > li.active > a:hover {
      border-top: none;
      background: none;
      padding-right: 0px;
    }
    .nav-pills > li.active > a {
      border-bottom: 1px solid $ACCENT_COLOR;
      color: $ACCENT_COLOR;
    }
    .content {
      padding: 0px;
    }

    .tab-pane page-container {
      padding-left: 0;
      padding-right: 0;
    }

    .tab-pane .container-fluid > .row > .col-md-12,
    .tab-pane .wings-card-row > .wings-card-col {
      padding-left: 0;
      padding-right: 0;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ApplicationDetail/ApplicationDetail.css