@import '../../styles/vars.css';

.main {
  :global {

  }
  .hide {
    display: none;
   }
   .show {
     display:block;
     margin-left:20px;
   }
   .roleComponent {

   }
   .roleRadioGroup * {
      display:inline-block;
      padding-left: 15px;
   }
   .radioOption {

   }
    .roleRadioGroup {
      margin-left:10px;
    }
     .roleMultiSelect {
     display: inline-block;
   }
   .errorMessage {
      color:red;
      display:inline-block;
   }
}



// WEBPACK FOOTER //
// webpack:///src/containers/AcctUserRolePage/AddUserModal.css