<img src="http://placekitten.com/300/100"/>
<h1><%= title %></h1>
<textarea id="status"></textarea>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore.js"></script>
<script src="http://documentcloud.github.com/backbone/backbone.js"></script>
<h2>Test backbone.js</h2>
<script>
var Sidebar = Backbone.Model.extend({
  promptColor: function() {
    var cssColor = prompt("Please enter a CSS color:");
    this.set({color: cssColor});
  }
});

window.sidebar = new Sidebar;

sidebar.bind('change:color', function(model, color) {
  $('#status').css({background: color});
});

sidebar.set({color: 'white'});
</script>
<button onclick="sidebar.promptColor()">Test backbone</button>
<a href=http://haraldrudell.com>home page via redirect</a>
