<!-- debug -->
<p>Debug is <span class=debugIndicator></span><p>
<button class=debugToggle>Toggle</button>
<script>
HRMODULE.debugUpdate = function () {
	$('.debugIndicator').text(HRMODULE.debug ? 'On' : 'Off')
	console.log(document.cookie)
}

$('.debugToggle').click(function() {
	var cookieName = 'debug'
	if (!HRMODULE.debug) {
		// enable debug
		$.cookies.set(cookieName, '1')
		HRMODULE.debug = true
	} else {
		// turn debug off
		$.cookies.del(cookieName)
		delete HRMODULE.debug
	}
	HRMODULE.debugUpdate()
})

HRMODULE.debugUpdate()
</script>
