<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/socketioc.js"></script>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Written by <a href="http://blog.haraldrudell.com">Harald Rudell</a></p>
<p>Loops through available socket protocols and times the round-trip delay to the server</p>
<button onclick="doWork();">Sock it!</button>
<ol id="insertLi">
</ol>
