<!-- table -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset=UTF-8>
		<title id=pagetitle>Table back-end</title>
		<script src=/javascripts/table.js></script>
	</head>
	<body>
		<p>Table back-end</p>
		<p><%= JSON.stringify(ontime) %></p>
	</body>
</html>