<!DOCTYPE html>
<!-- yui.ejs -->
<html>
	<head>
		<title><%= title %></title>
		<!--<- partial('headpartials/head-analytics') >-->
		<script>
		var _gaq = _gaq || []
		_gaq.push(['_setAccount', 'UA-25361517-1'])
		_gaq.push(['_setDomainName', '.haraldrudell.com'])
		_gaq.push(['_trackPageview'])
		</script>
		<script src=/javascripts/yui.js></script>
		<script src=/javascripts/yuic.js></script>
	</head>
	<body>
		<h4>Basic Console</h4>
		<div id="basic"></div>

		<h4>New messages added to bottom</h4>
		<div id="add_to_bottom"></div>

		<h4>Custom strings</h4>
		<p><em>Rendered in default location (top right corner of page)</em></p>

		<h4>Log some messages</h4>
		<p>
				<input type="text" id="info_text" value="I'm an info message!">
				<input type="submit" id="info">log info message</button>
		</p>
		<p>
				<input type="text" id="warn_text" value="I'm a warning!">
				<input type="submit" id="warn">log warning</button>
		</p>
		<p>
				<input type="text" id="error_text" value="I'm an error!">
				<input type="submit" id="error">log error</button>
		</p>

	</body>
</html>