.main {
  background-color: var(--color-black);
  height: var(--app-header-height);
  font-size: 14px;
  position: fixed;
  width: 100%;
  z-index: 1;

  @define-mixin width-and-centering {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: var(--content-width);
    padding: 0px var(--indent-width);
  }

  .content {
    @mixin width-and-centering;
    justify-content: space-between;
    height: 100%;
    position: relative;

    .logo {
      display: flex;
      height: 100%;
      flex: 0;

      .svgLogo {
        height: 32px;
        margin: auto 0;

        svg {
          width: 140px;
          height: 35px;
        }
      }
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;
      font-size: 15px;

      > span,
      a {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-left: 50px;
      }

      > a,
      > span > button {
        /* DropdownMenu: > span > button */
        color: var(--color-white);
        font-weight: bold;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: -4px;
          left: 0;
          border-bottom: 1px solid var(--color-grey-dark);
          opacity: 0;
          transition: opacity 0.2s ease-in-out;
        }
        &:hover:before {
          text-decoration: none !important;
          opacity: 1;
        }
      }
      > span > button {
        &:before {
          bottom: -8px;
        }
      }
      .active {
        &:before {
          border-bottom: 1px solid var(--color-blue);
          opacity: 1;
        }
      }
      .setup {
        button {
          color: var(--color-link);
          &:hover,
          &:active,
          &:focus {
            color: var(--color-link-hover);
          }
        }
      }
    }

    aside {
      width: 150px;
      position: absolute;
      right: -170px; /* ensure the gap between user dropdown & setup to be ~50px */
      height: var(--app-header-height);
      display: flex;
      align-items: center;
    }
    a {
      color: var(--color-grey);
    }

    .userBtn {
      width: 50px;
      font-size: 22px;
      color: var(--color-grey);
      &:hover {
        color: var(--color-white);
      }
      :global {
        .icons8-sort-down {
          vertical-align: 4px;
          font-size: 14px;
        }
      }
    }
  } /* --- end of .content --- */

  .title {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: var(--app-header-height);
    background-color: var(--color-white);
    border-bottom: 1px solid var(--card-border-color);
    opacity: 0.95;

    .titleContent {
      @mixin width-and-centering;
      font-size: 18px;
      margin: 0 auto;
    }
  }
}

:global {
  .pt-popover.__lowerPopover {
    margin-top: 12px !important;
  }

  body {
    /* Adjust width of navbar to match wider layout. */
    &.full-width-header #react-root > div > .wrapper > header > main {
      max-width: unset;
    }

    /* Adjust width of header to match wider layout. */
    &.full-width-header #react-root > div > .wrapper > header > div > div {
      max-width: unset;
      width: 100%;
    }
    &.full-width {
      .wrapper > section {
        background-color: var(--color-white) !important;
      }
      .content-wrapper {
        background-color: var(--color-white) !important;
      }
    }
  }

  .__dev {
    position: absolute;
    color: var(--color-grey);
    top: 80px;
    right: 20px;
    z-index: 2;
  }
}



// WEBPACK FOOTER //
// webpack:///src/components/AppHeader/AppHeader.css