@import '../../styles/vars.css';

.main {
  :global {

    .__rightBorder {
      border-right: 1px solid #EEEEEE;
      height: 100%;
    }

    .__dropDown{
      margin-left: 24px;

      a {
        font-size: small;
        color: $TEXT_COLOR_LIGHT;
      }
    }
  }
}

.largeText {
  font-size: 3.1em;
  margin-top: 0px;
  padding-top: 0px;
  color: $ACCENT_COLOR;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.noData {
  font-size: 4em;
  margin-top: 0px;
  padding-top: 0px;

  display: inline-block;
  width: 100%;
  text-align: center;
  color:$TEXT_COLOR_LIGHT !important;
}

.smallText {
  font-size: 1em;
  width: 100%;
  text-align: center;
}



// WEBPACK FOOTER //
// webpack:///src/components/AppStats/AppStats.css