@import "../../styles/vars.css";
@import "../../styles/icons8-classes.css";

.main {
  display: flex;
  :global {
    ui-card {
    }
    ul {
      list-style-type: none;
    }
    li:first-child span {
      /*color: var(--color-black);*/
    }
    li:not(:first-child) span {
      color: $CARD-FONT-COLOR;
    }

    li span {
      padding: 5px;
    }

    /*card-title {
      color: $ACCENT_COLOR;
    }*/
    label {
      padding-left: 10px;
    }
    input {
      border: 0px;
      background: none;
    }

    card-title {
      flex-direction: row;
    }
    page-container {
      padding: 0px;
    }
    ul {
      margin-top: 10px;
    }
    ul li {
      display: flex;
      flex-direction: column;
    }
  }
}

.sideBar {
  width: 35%;
  background: var(--color-grey-light-50);
  height: 700px;
  margin-top: 10px;
  border: 1px solid var(--card-border-color);
  margin-right: 24px;
}
.containerUl {
  padding: 10px;
}

.configureBtn {
  margin: 20px auto;
  display: flex !important;
}
.content {
  margin-top: 15px;
  width: 100%;
}

.row {
  display: flex;
}

.cardContent {
  padding-top: 10px;
}
.cardItem {
  display: flex;
  padding: 10px;
}
.password {
}
.key {
  margin-right: 20px;
}

.description {
  padding-top: 3px;
  padding-left: 5px;
}

.parentItem {
  cursor: auto;
  font-size: 16px;
  span {
    &:hover {
      background: none !important;
    }
  }
  ul {
    margin-top: 0px;
  }
}

.item {
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  span {
    &:hover {
      background: var(--color-grey-light);
    }
  }
}
.item:nth-child(2) {
  margin-top: 15px;
}

.item:first-child {
  /*border-bottom: 1px solid var(--color-grey-50);*/
}

.subItem {
  cursor: pointer;
  font-size: 14px;
  height: 30px !important;
  &:hover {
    background: var(--color-grey-light);
  }
}
.parentItem {
  height: 130px !important;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-grey-50);
}

.parentItem:last-child {
  margin-top: 10px;
}

.btnSection {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-end;
}

.btn {
  margin-left: 15px;
}

.item .selected,
.subItem .selected {
  background: $NAVITEM-SELECTED-COLOR;
  &:hover {
    background: $NAVITEM-SELECTED-COLOR;
  }
}

.addBtn {
  vertical-align: inherit !important;
}

.secretCard {
}



// WEBPACK FOOTER //
// webpack:///src/containers/SecretsManagementPage/SecretsManagementPage.css