execution-status {
  --pulse-size: 12px;

  background: var(--icon-pending) center left no-repeat;
  display: inline-flex;
  padding-left: 28px;
  font-size: 16px;
  color: var(--color-black);
  height: 22px;

  &[success] {
    background-image: var(--icon-success);
    color: var(--color-green);
  }

  &[failed] {
    background-image: var(--icon-failed);
    color: var(--color-red);
  }

  &[queued] {
    background-image: var(--icon-queued);
  }

  &[aborted] {
    background-image: var(--icon-aborted);
  }

  &[running] {
    background-image: var(--icon-running);
    color: var(--color-blue);
  }

  &[paused],
  &[waiting] {
    background-image: var(--icon-paused);
    color: var(--color-yellow);
  }
}


// WEBPACK FOOTER //
// webpack:///src/pages/pipelines/views/ExecutionStatus.css