@import "../../../styles/vars.css";

stage-view {
  --color-border: var(--color-grey-dark-50);
  --color-border-selected: var(--color-grey-dark);
  --color-header-bg: var(--color-grey-light-50);
  --color-bg: var(--color-white);
  --color-text: var(--color-grey-dark);
  --color-time: var(--color-grey-dark);
  --color-success: var(--color-green);
  --color-running: var(--color-blue);
  --color-failed: var(--color-red);
  --color-paused: var(--color-yellow);

  --pulse-size: 12px;
  --animation-duration: 2s;

  display: inline-flex;
  flex-direction: column;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  position: relative;
  background-color: var(--color-bg);
  cursor: pointer;
  margin-bottom: 75px;
  margin-right: 70px;
  user-select: none;
  width: 172px;

  &:last-child {
    margin-right: 0;
  }

  > header,
  > section {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 25px;
    white-space: nowrap;
  }

  > header {
    background-color: var(--color-grey-light-50);
    flex-direction: column;
    color: var(--color-black);
    font-size: 14px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 27px;

    optional-tooltip::after {
      z-index: 2;
    }

    optional-tooltip {
      display: flex;
      align-items: center;
    }

    span {
      width: 166px;
      text-overflow: ellipsis;
      display: inline-block;
      text-align: center;
      overflow: hidden;
    }
  }

  > section {
    color: var(--color-text);
    padding: 10px;
    flex-grow: 2;

    strong {
      font-weight: normal;
      font-size: 14px;
      display: inline-block;
      width: 160px;
      text-overflow: ellipsis;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
    }

    optional-tooltip {
      z-index: 1;

      &::after {
        font-size: 12px !important;
      }
    }

    small {
      font-size: 12px;
      color: var(--color-grey-dark-50);
      text-transform: capitalize;
    }
  }

  &:after,
  &:before {
    position: absolute;
    /* hack to remove thin upper line  */
    top: calc(100% - 0.1px);
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
  }

  &:after {
    border-top-color: var(--color-bg);
    border-width: 12px;
    margin-left: -12px;
  }

  &:before {
    border-top-color: var(--color-border);
    border-width: 14px;
    margin-left: -14px;
  }

  status-circle {
    /* TODO should be a component */
    position: absolute;
    background: var(--icon-pending);

    top: calc(100% + 15px);
    left: calc(50% - 20px);
    height: 42px;
    width: 42px;
    cursor: pointer;

    border: 8px solid var(--ui-card-bg-color);
    border-radius: 50%;
  }

  &[success] {
    > header {
      background-color: var(--color-green-light);

      span {
        color: var(--color-black);
      }
    }

    status-circle {
      background: var(--icon-success);
    }

    hr {
      background-color: var(--color-success);
    }
  }

  &[failed] {
     > header {
      background-color: var(--color-red-light);

      span {
        color: var(--color-black);
      }
    }

    status-circle {
      background: var(--icon-failed);
    }
  }

  &[queued] {
    border-color: var(--color-grey-50);

    &::before {
      border-top-color: var(--color-grey-50);
    }

    > header,
    > section strong {
      color: var(--color-grey);
    }

    status-circle {
      background: var(--icon-queued);
    }
  }

  &[aborted] {
    > header {
      background-color: var(--color-grey);
    }

    status-circle {
      background: var(--icon-aborted);
    }
  }

  &[running] {
    &[selected], &[selected]:hover {
      border-color: var(--color-running);
    }

    &[selected]::before, &[selected]:hover::before {
      border-top-color: var(--color-running);
    }

    status-circle {
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: var(--icon-running);
        animation: stage-view-pulse var(--animation-duration) ease-out infinite;
      }
    }

    > header {
      background-color: var(--color-blue-light);
    }

  }

  &[paused],
  &[pausing],
  &[waiting] {
    status-circle {
      background: var(--icon-paused);
    }
  }

  &[paused] {
    &[selected], &[selected]:hover {
      border-color: var(--color-paused);
    }

    &[selected]::before, &[selected]:hover::before {
      border-top-color: var(--color-paused);
    }
  }

  &[failed] {
    &[selected], &[selected]:hover {
      border-color: var(--color-failed);
    }

    &[selected]::before, &[selected]:hover::before {
      border-top-color: var(--color-failed);
    }
  }

  &[success] {
    &[selected], &[selected]:hover {
      border-color: var(--color-success);
    }

    &[selected]::before, &[selected]:hover::before {
      border-top-color: var(--color-success);
    }
  }

  &:hover {
    border-color: var(--color-border-selected);

    &:before {
      border-top-color: var(--color-border-selected);
    }
  }

  &[place-holder]:hover,
  &[selected] {
    border-color: var(--color-border-selected);

    &:before {
      border-top-color: var(--color-border-selected);
    }
  }

  &[selected] {
    hr {
      &::after {
        content: "";
        position: absolute;
        top: 20px;
        width: 1px;
        height: 20px;
        background-color: var(--color-grey-dark-50);
      }
    }
  }

  &[pending] {
    > header,
    > section {
      color: var(--color-time);
      opacity: 0.6;
    }

    &:hover,
    status-circle:hover {
      cursor: default;
    }
  }

  &[pending] {
    cursor: default;
  }

  &[parallel] {
    status-circle::before {
      content: "";
      position: absolute;
      top: -2px;
      width: 10px;
      height: 30px;
    }

    &[first] status-circle::before {
      left: -10px;
      background: var(--icon-bracket-left) no-repeat;
    }

    &[last] status-circle::before {
      right: -10px;
      background: var(--icon-bracket-right) no-repeat;
    }

    &[running] {
      &:not([last]) {
        hr {
          background-color: var(--color-running);
        }
      }
    }

    &:not([last]) {
      hr::before {
        content: "Running in parallel";
        color: var(--color-time);
        left: 50%;
        transform: translateX(-50%);
        padding: 0 5px;
        background-color: var(--color-grey-light-50);
        position: absolute;
        top: -8px;
        font-size: 12px;
        font-weight: lighter;
        white-space: nowrap;
        font-style: italic;
      }

      &[edit-mode] hr::before {
        content: "Run in parallel";
      }
    }

    &[parallel-group-status="RUNNING"] {
      hr {
        background-color: var(--color-border);
      }
    }

    &[parallel-group-status="FAILED"] {
      hr {
        background-color: var(--color-border) !important;
      }
    }
  }

  hr {
    position: absolute;
    left: 50%;
    top: calc(100% + 15px);
    width: calc(100% + 75px);
    height: 2px;
    background-color: var(--color-grey-50);
    border: none;
    pointer-events: none;
    overflow: visible;

    &:hover {
      cursor: default;
    }
  }

  &:last-child {
    hr {
      width: 0 !important;
    }
  }

  &[edit-mode] {
    &:first-of-type {
      margin-left: 10px;
    }

    &:hover {
      cursor: pointer;

      > header {
        button[data-delete] {
          display: inline-block;
        }
      }
    }

    > header {
      cursor: move;
      position: relative;

      button[data-delete] {
        border: none;
        display: none;
        background: none;
        outline: none;
        width: 10px;
        height: 10px;
        background: var(--icon-delete) center center no-repeat;
        position: absolute;
        right: 5px;
        top: 10px;
        z-index: 1;

        &::after {
          font-size: 12px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    > section {
      flex-grow: 1;
    }

    form-buttons {
      position: absolute;
      top: calc(100% + 18px);
      right: -50px;
      display: inline-flex;

      button {
        border: none;
        background: none;
        outline: none;
        width: 14px;
        height: 14px;
        margin-right: 5px;
        opacity: 0.7;
        z-index: 1;

        &::after {
          font-size: 12px;
        }

        &:hover {
          cursor: pointer;
          opacity: 1;
        }

        &[data-add] {
          background: var(--icon-plus);
        }
      }
    }

    &:nth-last-child(2) {
      form-buttons {
        display: none;
      }
    }

    &[place-holder] {
      justify-content: center;
      width: 140px;
      min-width: 140px;

      > section strong {
        white-space: normal;
        text-align: center;
        width: 115px;
      }

      status-circle {
        background: var(--icon-add);
        pointer-events: all;
      }

      &:hover {
        cursor: pointer;
      }
    }

    & + [place-holder] {
      border-color: transparent;

      &::after,
      &::before,
      > section {
        opacity: 0;
      }

      &:hover {
        border-color: var(--color-border-selected);

        &::after,
        &::before,
        > section {
          opacity: 1;
        }
      }
    }

    &[dropable] {
      /* Disable pointer-events on direct children */
      > * {
        pointer-events: none;
      }

      > header {
        position: relative;

        &::before {
          position: absolute;
          top: 0px;
          width: 2px;
          height: 100%;
          background: var(--color-blue);
          content: "";
          border-radius: 5px;
        }
      }

      &[drop-direction="left"] {
        > header::before {
          left: -10px;
        }
      }

      &[drop-direction="right"] {
        > header::before {
          right: -10px;
        }
      }
    }
  }

  &[type="APPROVAL"] {
    > section strong {
      background: var(--icon-approval) left center no-repeat;
      padding-left: 25px;
      width: auto;
    }
  }
}

@keyframes stage-view-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 173, 228, 0.4);
  }
  70% {
    box-shadow: 0 0 0 var(--pulse-size) transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

.main {
  margin-top: 15px;
}



// WEBPACK FOOTER //
// webpack:///src/pages/pipelines/views/StageView.css