@import '../../styles/vars.css';

.main {
  :global {
    #root_field fieldset legend {
      display: none;
    }

    #root_targetAppId_field {
      .field-message {
        &::before {
          font-size: 17px !important;
        }

        margin-top: 7px;
        margin-left: 3px;
        font-size: 12.7px !important;
        padding-left: 34px !important;
      }
    }

    #root_serviceMapping_field {
      fieldset .field-area {
        width: 95%;
        margin: auto;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

      #root_serviceMapping_title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
        width: 100%;
      }

      fieldset .control-label {
        flex: 2.7;
        text-align: right;
      }

      .Select {
        flex: 7;
      }

      .field-arrow {
        flex: 1;
        text-align: center;
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/EnvironmentPage/CloneEnvironmentModal.css