@import "../../styles/vars.css";
@import "../../styles/icons8-classes.css";

:global {
  .clipboard-popover .pt-popover-content {
    display: flex;
    color: white-space;
    padding: 0px 6px;
  }
}

.main {
  :global {
    .modal-body {
      min-height: 100px;
    }

    .action-message {
      display: flex;
      justify-content: flex-end;
      margin-top: var(--indent-width);
      margin-right: 12px;
    }

    copied-message {
      display: flex;
      color: red;
      justify-content: flex-end;
      margin-right: 12px;
    }

    .unhide {
      display: flex !important;
    }

    section-label {
      display: flex;
      font-weight: bold;
    }

    frequency-selector {
      display: flex;
      flex-direction: column;

      web-hook-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 8px;

        param-container {
          display: flex;
          flex-direction: column;
          border: 1px solid grey;
          border-radius: 4px;
          padding: 12px;

          api-params {
            display: flex;
            flex-direction: column;
            width: 100%;

            api-param-container {
              display: flex;

              kv-pair {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                overflow: hidden;
                align-items: stretch;
                padding-right: 8px;

                key {
                  display: flex;
                  align-items: center;
                  padding: 0px 8px;
                  font-weight: bold;
                  align-items: flex-start;
                }

                value {
                  display: flex;
                  align-items: center;
                  flex: 1;
                  word-break: break-all;
                }
              }
            }
          }
        }

        .dummy-input-for-clipboard-copy {
          display: none;
        }

        .curl-info {
          display: none;
          flex-direction: column;
          margin-top: 8px;

          curl-string {
            display: flex;
            flex-direction: column;
            border: 1px solid grey;
            border-radius: 4px;
            padding: 12px;
            min-height: 40px;
            width: 100%;
            word-break: break-all;
          }

          .curl-string {
            display: flex;
            flex-direction: column;
            border: 1px solid grey;
            border-radius: 4px;
            padding: 12px;
            min-height: 40px;
            width: 100%;
            word-break: break-all;
          }
        }
      }
    }

    .__workflow {
      select {
        display: inline-block;
        width: 45%;
        margin-right: 10px;
      }
    }

    cron-tools {
      margin-top: 12px;

      > .form-group {
        margin-bottom: 0px;
      }

      .__cronBuilder {
        .cron-period {
          display: block;
          margin-bottom: 10px;

          .form-control {
            width: 66.66%;
            display: inline-block;
            text-transform: capitalize;
          }
        }

        .cron-block {
          .form-control {
            width: 15%;
            text-transform: capitalize;
            display: inline-block;
            margin: 0px 5px;
          }
        }

        .cron-block-custom {
          .form-control {
            width: 66%;
            display: inline-block;
            margin: 0px 5px;
          }
        }

        .cron-block-month,
        .cron-block-dow {
          .form-control {
            width: 20%;
            text-transform: capitalize;
            display: inline-block;
            margin: 0px 5px;
          }
        }
      }

      .__cronMessage {
        font-size: smaller;
        color: var(--color-green);
        margin-left: 10px;
      }
    }

    .artifacts {
      margin-top: 5px;
      width: 25%;
    }

    .artifact-form {
      width: 75%;
    }

    .warning {
      color: var(--color-yellow);
    }

    .placeholder-message {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ArtifactStreamPage/ArtifactActionModal.css