@import '../../styles/vars.css';

.main {
  .addTriggersBtn {
    padding: 10px 0;
    outline: none !important;
    box-shadow: none;
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ArtifactStreamPage/ArtifactStreamPage.css