@import '../../styles/vars.css';
.main {

  :global {

    .buttonBar {
      display: flex;
      align-items: center;
    }

    .wings-spinner {
      display: flex;
      margin-left: auto;
    }

  }

}



// WEBPACK FOOTER //
// webpack:///src/containers/AppContainerPage/AppContainerModal.css