.main {
  :global {
    .add-icon {
      display: flex;
      align-items: center;
      height: var(--app-header-height);
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/AppContainerPage/AppContainerPage.css