@import "../../styles/vars.css";

@define-mixin box-style {
  display: flex;
  align-items: center;
  width: 219px;
  height: 32px;
  border: 1px solid $BORDER_LINE;
  border-radius: 3px;
  box-sizing: border-box;
  justify-content: flex-end;
}

:global {
  dropdown-items {
    labelling-dropdown.apps-dropdown {
      height: unset !important;

      .btn-group {
        @mixin box-style;
        a.labelling-dropdown-label {
          border: none;
          width: 100%;

          strong {
            width: unset !important;
          }
        }
      }
    }
  }

  clear-button {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    background: transparent !important;
    z-index: 10;
    width: 24px;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  buttons-container {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    margin-top: 24px;

    .submit-button {
      margin-right: 12px;
      border-radius: 3px;
      font-size: 15px;
    }

    .clear-filters-button:focus,
    .clear-filters-button:active,
    .clear-filters-button {
      background: var(--color-grey);
      color: var(--color-white);
    }

    .apply-filters-button:focus,
    .apply-filters-button:active,
    .apply-filters-button {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }

  date-value {
    @mixin box-style;
    justify-content: space-between;

    .pt-popover-target {
      display: flex;
      flex: 1;

      .pt-input-group {
        display: flex;
        flex: 1;

        .pt-input {
          box-shadow: none;
        }
      }
    }
  }
}

.timepopover {
  /* color: green !important; */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid $BORDER_LINE;
  background: white;
  padding: 0px 0px 12px 0px;
  color: $TEXT_COLOR;
  margin-bottom: 12px;

  action-buttons-row {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 28px;

    clear-button {
      display: flex;
      justify-self: flex-end;
      align-self: flex-start;
      margin-right: 6px;
      margin-top: 8px;
      font-size: 19px;
      margin-left: 8px;
    }
  }

  date-picker-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 0px;

    date-label {
      display: flex;
      align-items: center;
    }

    date-value {
      display: flex;
      align-items: center;
      margin-left: 12px;
      color: $TEXT_COLOR;
    }
  }

  dropdown-items {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0px;
  }

  app-column-container {
    display: flex;
    flex-direction: column;
    padding-right: 12px;
  }

  clear-all-button {
    display: flex;
    justify-self: flex-end;
    height: 32px;
    width: auto;
  }

  filters-container {
    display: flex;
    flex: 1;
    justify-content: center;

    left-filters {
      display: flex;
      flex-direction: column;
      border: 1px solid $BORDER_LINE;
      margin: 0px 24px 0px 0px;
      padding-left: 12px;

      left-child-filters {
        display: flex;
      }
    }

    right-filters {
      display: flex;
      flex-direction: column;
    }
  }

  [applications] {
    margin-right: 10px;
    background: white;
    align-self: flex-start;
    border: none;
    padding: 0px 8px;
    transform: translateY(-50%);
    z-index: 1;
  }
}



// WEBPACK FOOTER //
// webpack:///src/components/RecordsFilter/RecordsFilter.css