@import '../../styles/vars.css';

.main {
  :global {
    .panel-danger {
      display: none; /* error details at the top */
    }
    .modal-dialog {
        width:800px;
    }
    .form-group fieldset + div {
      display: none; /* error details at the bottom */
    }

    .__executionCredential {
      legend {
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .__sshUser, .__sshUser + div {
      width: 45%;
      float: left;
    }
    .__sshUser {
      margin-right: 20px;
    }
    .__hidden {
      display: none;
    }
    .artifactSelect {
      cursor: pointer;
    }

    legend#root_workflowVariables__title {
      border-bottom: 0px;
      font-weight:700;
      font-size:14px;
    }
    .workflow-variable-field {
      display:flex;

      justify-content: space-between;
      padding-left: 15px;
      padding-right: 50px;

      label {
        width:40%;
        font-weight: bold;
      }

      div {
      /*  display: inline-block;*/
      }

      input {
        /*display: inline-block;*/
        width: 66.66%;
        margin-left: 20px;
        margin-right: -20px;
      }
      select {
        display: inline-block;

      }

    }
  }
  .workflowVariableHeader {
    display:flex;
    padding-left:10px;
    color:$LIGHT_GRAY;
  }
  workflowVariable {
    display:flex;
    padding-left:10px;
  }
  .varCol {
    width:30%;
    word-break: break-word;
  }
  .valueCol {
    min-width:30%;
    max-width:60%;
  }
  .valueField {
    width:30%;
    position:relative;
    top:-8px;
  }
  .workflowVariableTitle {
    label {
      display:none;
    }

  }
  .workflowField {
    label {
      display:none;
    }
  }
  .workflowVariable {
    display:flex;
    padding-left:10px;
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ExecutionModal/ExecutionModal.css