@import '../../styles/vars.css';
.main {
  :global {
    .modal-dialog {
      width: 800px;
    }
  }
  .hide {
    display: none;
  }
  .customField {
    display: inline-table;
    width: 45%;
  }
  .pullRight {
    float: right;
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ExecutionModal/StartDeploymentModal.css