module.exports = "<svg width=8 height=8 viewBox=\"0 0 8 8\" xmlns=http://www.w3.org/2000/svg><title>audio-icon</title><g fill=#A7B2B8 fill-rule=evenodd><path d=\"M4 5.333c.825 0 1.5-.654 1.5-1.454V1.452C5.5.653 4.825 0 4 0S2.5.655 2.5 1.455V3.88c0 .8.675 1.453 1.5 1.453z\"/><path d=\"M6 3.152v.727c0 1.063-.9 1.936-2 1.936s-2-.873-2-1.94V3.15H1v.728c0 1.43 1.075 2.64 2.5 2.86v1.018h1v-1.02C5.925 6.5 7 5.31 7 3.88v-.726H6z\"/></g></svg>";


//////////////////
// WEBPACK FOOTER
// ./app/components/Icon/default_svg_paths/microphone.html
// module id = ./app/components/Icon/default_svg_paths/microphone.html
// module chunks = commons