@import '../../styles/vars.css';

.main {
  width: 40%;
  position: relative;

  :global {
    .__searchIcon {
      color: $TEXT_COLOR_LIGHT;
      cursor: pointer;
      font-size: 20px;
      margin: 0px -5px 0px 150px;
      float: right;
      &:hover{
        color: $TEXT_COLOR_DARK;
      };
    }

    .active {
      color: $TEXT_COLOR_DARK;
    }

    .inactive {
      color: $TEXT_COLOR_LIGHT;
    }

    .__clear {
        cursor: pointer;
        position: absolute;
        right: 50px;
        top: 30%;
        z-index: 2;
    }


    input {
      border: 0;
      border-color: transparent;
      padding: 0px 3px 10px 5px;
      margin: 0px -5px 0px 0px;
      width: 0%;
      height: 20px;
      background: 0 0;
      -webkit-font-smoothing: antialiased;
      z-index: 1;
      position: absolute;
      float: right;
      box-shadow: none;
      cursor: pointer;
      right: 0;
      font-size: 16px;
      &:focus{
        outline: none;
        width: 100%;
        border-bottom: 1px solid $TEXT_COLOR_LIGHT;
        -webkit-transition: border-color 1000ms ease;
        transition: border-color 1000ms ease;
      };
    }

    input.active {
      width: 100%;
      border-bottom: 1px solid $TEXT_COLOR_LIGHT;
    }
  }
}

.collapsed {
  color: $TEXT_COLOR_LIGHT;
    i {
      cursor: pointer;
      font-size: large;
      margin: 0px -5px 0px 150px;
      float: right;
      &:hover{
        color: $TEXT_COLOR_DARK;
      };
    }
}



// WEBPACK FOOTER //
// webpack:///src/components/SearchBox/SearchBox.css