.main {
  display: flex;
  flex-direction: column;

  @define-mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  ui-card {
    last-child {
      margin-bottom: 0px !important;
    }

    ui-card-header {
      justify-content: space-between;
      card-title {
        flex: unset;
      }
    }
    ui-card-main {
      display: flex;
      flex-direction: row;
      padding: 0px var(--ui-card-padding) 0px 0px;

      vendor-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 100px;
        margin-right: 55px;

        vendor-default-name {
          display: flex;
          align-items: center;
          color: var(--color-black);
        }
      }

      kv-pairs {
        padding: 0px;
        justify-content: center;
      }
    }
  }

  connector-type-section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--card-border-color);

    &[hide="true"] {
      display: none;
    }

    connector-type-section-title {
      @mixin flex-row;
      justify-content: space-between;
      justify-items: center;
      height: var(--app-header-height);
      font-size: 18px;

      title-items {
        @mixin flex-row;

        section-title {
          @mixin flex-row;
          color: var(--color-black);
        }

        &:hover {
          expand-icon,
          section-title {
            cursor: pointer;
            color: var(--color-grey-dark) !important;
          }
        }
      }
    }
  }

  :global {
    button {
      &:active,
      &:visited,
      &:hover,
      &:focus {
        outline: none;
      }
    }

    .section-toggle {
      font-size: 18px;
      width: 19px;
      margin-top: 3px;
      color: var(--color-black);
    }

    collapsable-content {
      .add-icon {
        @mixin flex-row;
        align-self: center;
        justify-self: flex-start;
        justify-content: flex-start;
        font-size: 16px;
        padding-right: 0px;
        height: var(--app-header-height);
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/SettingsList/SettingsListCards.css