@import "../../styles/vars.css";
@import "../../styles/icons8-classes.css";

:global {
  artifact-item action-icons .harness-icon {
    margin-left: 3px;
    margin-right: 0px;
    font-size: 15px;
  }
}

:global {
  artifact-item {
    text-truncator {
      justify-content: center;
    }
  }
}

:global {
  artifact-source-name.pointer {
    text-truncator {
      block-required-for-ellipsis {
        cursor: pointer !important;
      }
    }
  }
}

.main {
  display: flex;
  align-items: center;

  artifact-list {
    display: flex;
    align-items: center;

    artifact-item {
      font-weight: normal;
      display: flex;
      align-items: center;
      word-wrap: break-word;
      border-radius: 3px;
      height: var(--pill-height);
      border: 1px solid var(--pill-border-color);
      background: var(--pill-bg-color);
      color: var(--pill-text-color);
      padding: 0px 6px;
      margin-right: 8px;
      min-width: 156px;
      justify-content: center;
    }
  }

  artifact-source-name {
    display: flex;
    align-items: center;
    width: 108px;
    cursor: pointer;
  }

  action-icons {
    display: flex;
    align-items: center;
  }

  .autoTriggerText {
    color: $LINK_COLOR;
  }
}



// WEBPACK FOOTER //
// webpack:///src/components/ArtifactSources/ArtifactSources.css