@import '../../styles/vars.css';
.main {
  :global {

    label[for="root_encrypted"] {
      display: none;
    }

    label[for="root_targetToAllEnv"] {
      display: none;
    }

    .checkbox span {
      font-weight: bold;
    }

    textarea {
      resize: none;
    }

    .__envIdVersionMap {
      display: none;
    }

    .__targetToAllEnvs {
      margin-top: -20px;
    }
  };
}






// WEBPACK FOOTER //
// webpack:///src/containers/ConfigPage/ConfigModal.css