.container {
  border-top: 1px solid #cbd6dc;
  background-color: #f9fafa;
}
.columns {
  padding: 0.25rem 0;
}
.column {
  height: 24px;
  padding-left: 2rem;
  padding-right: 1rem;
}
.searchBox {
  border-bottom: solid 1px #cbd6dc;
  height: 2rem;
  padding: 0 15px 0 30px;
}
.searchInput {
  width: 100%;
  margin-left: 0.5rem;
  background-color: transparent;
}
.noResults {
  padding: 0 2rem;
}



// WEBPACK FOOTER //
// ./src/components/inspector/source/ExternalTable.less