.modal {
  background: rgba(0, 0, 0, 0.15);
  height: inherit;
}
.container {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 4px 0 #cbd6dc;
          box-shadow: 0 1px 4px 0 #cbd6dc;
  border-top: solid 1px #cbd6dc;
  z-index: 1000;
  position: relative;
  height: inherit;
  max-height: 100vh;
}
.header {
  padding: 0.5rem 1rem;
}
.relationshipContainer {
  overflow-y: auto;
  max-height: 85vh;
}
.footer {
  height: 33px;
  border-top: 1px solid #cbd6dc;
  padding: 0 1rem;
  color: #038cd3;
  cursor: pointer;
}



// WEBPACK FOOTER //
// ./src/components/inspector/source/SourceInspector.less