@import "../../styles/vars.css";
@import "../../styles/icons8-classes.css";

$ARROW_COLOR: #c8cfd0;

/*
 * Dev note: This is a terrible hack to make split view work. Going forward, shoud move to a better/simpler layout structure.
 */
:global {
  html,
  body.with-splitter {
    height: 100%;
  }

  body.with-splitter {
    #react-root,
    #react-root > div,
    #react-root > div > .wrapper,
    .content-wrapper > div:last-child,
    .content-wrapper > div:last-child > div,
    .content-wrapper > div:last-child > div > page-container,
    .content-wrapper > div:last-child > div > page-container > section {
      height: 100%;
    }

    .content-wrapper > div:last-child > div > page-container {
      padding: 0;
    }

    .content-wrapper > div:last-child > div > page-container > section {
      .content-wrapper {
        height: 100% !important;
      }

      > split-view {
        height: 100%;

        > section > split-view {
          height: 56px !important;
          border-bottom: 1px solid $BORDER_COLOR;
          background-color: $BGCOLOR_LIGHT_BLUE;
          overflow: visible;
        }
      }
    }

    #react-root > div > .wrapper > section:last-child {
      height: calc(100% - 124px);
    }
  }
}

.main {
  :global {
    position: relative;

    .__mainProgress {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      position: absolute;
      width: 100%;
    }

    .__container {
      position: relative;
      height: calc(100% - 57px);
      overflow: auto;
      background: url("/img/workflow/grid-pattern-blue.png");
    }

    .__containerListView {
      min-height: 250px;
      margin-right: 0;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        overflow: auto;
      }
    }

    .__node {
      position: absolute;
      border: 1px solid gray;
      transition: top 0.5s ease 0s, height 0.5s ease 0s;
      user-select: none;

      width: 50px;
      height: 35px;
      margin-top: -8px;
      background-color: #f9f9f9;
      border: 1px solid #dcdede;
      border-radius: 5px;
      .__arrow {
        top: 16px;
        left: 49px;
        width: 80px;
        display: block;
      }
      .__elementArrow {
        left: 19px;
      }
    }

    .selectedNode {
      background-color: $NAV_COLOR !important;
      font-weight: bold;
      .__nodeIcon {
        color: #fff;
      }
      .__nodeLabel {
      }
      .__expandBtn {
        color: #fff;
      }
    }

    .__node[data-type="GROUP"] {
      width: 1px;
      border: 1px solid #ddd;
      margin-top: -10px;
      border-radius: 0;
    }
    .__firstLevelGroup {
      border: 1px solid $ARROW_COLOR !important;
      &:after {
        content: "\25BC";
        position: absolute;
        bottom: -6px;
        left: -7px;
        color: $ARROW_COLOR;
      }
    }

    .__node[data-type="ELEMENT"] {
      border: none;
      .__nodeIcon {
        visibility: hidden;
      }
      .__nodeLabel {
        width: auto;
        max-width: 115px;
        margin-left: 16px;
        margin-top: -29px;
        text-align: left;
        padding-right: 10px;
        white-space: nowrap;
        display: inline-block; /* limit to 1 line */
        background-color: #fff;
      }
      .__arrow {
        display: block;
        width: 106px;
      }
    }

    .__node[data-type="SUB_WORKFLOW"],
    .__node[data-type="PHASE"],
    .__node[data-type="PHASE_STEP"] {
      border: 2px solid #d5ecf2;
      width: 50px;
      height: 35px;
      margin-top: -10px;
      background-color: #fff;
      cursor: default;
      .__nodeIcon {
        /* color: #1b8bf1; */
      }
      .__nodeLabel {
        display: block !important;
      }
      .__progressBar {
        display: none;
      }
    }

    .__firstLevelNode[data-type="PHASE"],
    .__firstLevelNode[data-type="PHASE_STEP"] {
      width: 80px !important;
      height: 50px !important;
      .__nodeLabel {
        width: 180% !important;
      }
      .__nodeIcon {
        font-size: 33px;
      }
      .__arrow {
        top: 23px !important;
        left: 77px !important;
      }
    }
    .__rollbackNode {
      border: 2px solid darkorange !important;
    }

    .__node[data-type="PHASE"] {
      width: 70px;
      height: 38px;
    }

    .__node[data-type="REPEAT"],
    .__node[data-type="FORK"] {
      border-radius: 5px;
      border: 1px solid #aaa;
      width: 50px;
      height: 35px;
      margin-top: -10px;
      .__nodeIcon {
        font-size: 18px;
        margin-left: -4px;
        margin-top: 3px;
      }
      .__nodeLabel {
        display: none;
      }
    }
    .__node[data-type="REPEAT"],
    .__node[data-type="FORK"],
    .__node[data-type="ELEMENT"] {
      background-color: #fff;
      cursor: default;
    }

    .__node[data-type="REPEAT"][data-expanded="false"],
    .__node[data-type="FORK"][data-expanded="false"] {
      border: none !important;
      .__nodeIcon {
        display: none;
      }
    }

    .__nodeIcon {
      text-align: center;
      font-size: 24px;
      color: #606060;
    }

    .__nodeLabel {
      position: absolute;
      width: 200%;
      margin: auto -50%;
      margin-top: 5px;
      text-align: center;
      left: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #000;
      /* background-color: #fff; */
      /* limit to 2 lines & show ellipsis if exceeded */
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      z-index: 1; /* stay on top of arrows */

      img {
        position: absolute;
        width: 16px;
        height: 16px;
      }
      span {
      }
      .groupNodeLabel {
      }
    }

    .__folderLine {
      width: 7px;
      height: 2px;
      position: absolute;
      background-color: #eee;
      border: 1px solid #ddd;
      top: 16px;
      left: -10px;
    }
    .__folderLineElement {
      left: -8px;
    }

    .__arrow {
      display: none;
      position: absolute;
      left: 100px;
      top: 9px;
      width: 55px;
      height: 2px;
      background-color: $ARROW_COLOR;
      &:after {
        /*font-family: "icons8";
        @mixin icons8-forward-content;*/
        content: "▶";
        float: right;
        margin-top: -10px;
        margin-right: 0;
        font-size: 16px;
        font-weight: bold;
        color: $ARROW_COLOR;
      }
    }

    .__expandBtn {
      position: absolute;
      right: 2px;
      top: 1px;
      font-size: 10px;
      color: #777;
    }

    .__nodeSummary {
      position: absolute;
      left: 0;
      top: 0;
      width: 200px;
      text-align: left;
      .expand-btn {
        position: absolute;
        left: 40px;
      }
      i.icons8-checked,
      i.icons8-high-priority {
        float: left;
        font-size: 30px;
        padding-right: 10px;
        margin-top: -2.5px;
        margin-left: 8px;
        margin-right: 14px;
      }
      i.icons8-checked {
        color: $NODE_STATUS_SUCCESS;
      }
      i.icons8-high-priority {
        color: $NODE_STATUS_FAILED;
      }
    }

    .__nodeProgress {
      margin-bottom: 0;
      margin-top: -3px;
    }

    .__elementStatus {
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      top: 10px;
      left: 1px;
      background-color: $BGCOLOR_LIGHT;
    }
    .__elementStatus-queued {
      background-color: #eee;
    }
    .__elementStatus-success {
      background-color: var(--color-green);
    }
    .__elementStatus-failed {
      background-color: $NODE_STATUS_FAILED;
    }
    .__elementStatus-running {
      background-color: $NODE_STATUS_RUNNING;
    }
    .__elementStatus-paused {
      background-color: $NODE_STATUS_PAUSED;
    }

    .__nodeBorder_success {
      border: 2px solid $NODE_STATUS_SUCCESS !important;
      box-shadow: 0px 1px 0px $BORDER_LIGHT;
    }
    .__nodeBorder_failed {
      border: 2px solid $NODE_STATUS_FAILED !important;
      box-shadow: 0px 1px 0px $BORDER_LIGHT;
      &:after {
        font-family: "icons8";
        @mixin icons8-attention-content;
        position: absolute;
        top: -11px;
        left: -10px;
        font-size: 18px;
        background-color: #fff;
        line-height: 20px;
        color: $NODE_STATUS_FAILED;
        border-radius: 10px;
      }
    }
    .__nodeBorder_running {
      border: 2px solid $NODE_STATUS_RUNNING !important;
      box-shadow: 0px 1px 0px $BORDER_LIGHT;
    }
    .__nodeBorder_paused {
      border: 2px solid $NODE_STATUS_PAUSED !important;
      box-shadow: 0px 1px 0px $BORDER_LIGHT;
    }
    .__nodeBorder_waiting {
      border: 2px solid $NODE_STATUS_PAUSED !important;
      box-shadow: 0px 1px 0px $BORDER_LIGHT;
    }
    .__nodeRunningFx {
      /*animation: running-fx 1.8s infinite;*/
      border: 2px solid $NODE_STATUS_RUNNING !important;
    }
    .__pulsatingBorder {
      border: 5px solid $NODE_STATUS_RUNNING;
      background: transparent;
      /* border-radius: 60px; */
      height: 50px;
      width: 75px;
      -webkit-animation: pulse-fx 1s ease-out infinite;
      animation: pulse-fx 1s ease-out infinite;
      position: absolute;
      top: -10px;
      left: -14px;
      z-index: 1;
      opacity: 0;
    }

    .__firstLevelNode[data-type="PHASE"] .__pulsatingBorder,
    .__firstLevelNode[data-type="PHASE_STEP"] .__pulsatingBorder {
      height: 66px;
      width: 102px;
    }

    .__actions {
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      left: 0;
      top: -20px;
      width: 100%;
      height: 25px;
      li {
        padding: 0;
        margin: 0 auto;
        text-align: center;
      }
      li[data-action="RESUME"] {
        color: orange;
      }
    }
  }
}

.listView {
  :global {
    .__mainProgress {
      margin: 0;
      margin-top: -6px;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/WorkflowView/DeploymentDetailsView.css