@import "../../styles/vars.css";

.main {
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  .artifactSummary {
    border-bottom: 1px solid $LIGHT_GRAY;
    margin: 0.5em;
  }

  :global {
    .__artifact {
      float: left;
    }
    .dropdown {
      > a {
        color: black !important;
      }

      list-style: none;
      float: right;
      margin: 0 20px;
    }
    .dropdown-menu {
      width: 500px;
      padding: 20px;
      margin-top: 5px;
    }
    .__finalSuccess {
      float: right;
      color: var(--color-green);
    }
    .__finalFailed {
      float: right;
      color: $RED_ERROR;
    }
    .__status {
      float: right;
      font-weight: bold;
    }
    .__row {
      span:nth-child(1) {
        width: 110px;
        display: inline-block;
        text-align: left;
        padding-right: 7px;
        color: $TEXT_COLOR_LIGHT;
        font-weight: bold;
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/WorkflowView/ExecSummaryBox.css