.main {
  :global {
    .modal-header {
      border-bottom: none;
      padding-bottom: 0;
    }

    .__dl {
      dt {
        color: #ccc;
        font-weight: bold;
        width: 25%;
      }
      dd {
        margin-left: 25%;
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/WorkflowView/NodeDetailsModal.css