@import '../../styles/vars.css';

.main {
  min-width: 500px;
  top: 113px;
  right: 0;
  bottom: 0px;
  padding: 10px;
  background-color: #fff;
  border-left: 1px solid #ddd;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 0px;

  :global {
    h3 {
      margin-top: 11px;
      font-size: 1.2em;
      font-weight: bold;
      color: #333;
      min-height: 16px;
      i {
        margin-right: 10px;
      }
    }
    .__dl {
      dd {
        margin-left: 130px;
      }
    }
    .__status {
      float: right;
      font-size: 14px;
      margin-top: 3px;
      margin-right: 10px;
    }
    .__expandBox {
      float: right;
      cursor: pointer;
    }
    .__nodeProgress {
      margin-top: 17px;
    }
    .__topIcons {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }
    pre {
      height: 210px;
    }
  }
}

.fullScreen {
  width: 100% !important;
  z-index: 500;
}



// WEBPACK FOOTER //
// webpack:///src/containers/WorkflowView/NodeDetailsPanel.css