
/* FONTY FONTS */
@font-face {
  font-family: 'PS Savoy';
  font-weight: bold;
  src: url("http://media2.popsugar-assets.com/v3042/static/fonts/savoy/Savoy-Bold-webfont.eot");
  src: url("http://media4.popsugar-assets.com/v3042/static/fonts/savoy/Savoy-Bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("http://media3.popsugar-assets.com/v3042/static/fonts/savoy/Savoy-Bold-webfont.woff2") format("woff2"),
       url("http://media3.popsugar-assets.com/v3042/static/fonts/savoy/Savoy-Bold-webfont.woff") format("woff"),
       url("http://media2.popsugar-assets.com/v3042/static/fonts/savoy/Savoy-Bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'PS Savoy';
  font-weight: normal;
  font-style: italic;
  src: url("http://media1.popsugar-assets.com/v3042/static/fonts/savoy/Savoy-Italic-webfont.eot");
  src: url("http://media2.popsugar-assets.com/v3042/static/fonts/savoy/Savoy-Italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("http://media1.popsugar-assets.com/v3042/static/fonts/savoy/Savoy-Italic-webfont.woff2") format("woff2"),
       url("http://media4.popsugar-assets.com/v3042/static/fonts/savoy/Savoy-Italic-webfont.woff") format("woff"),
       url("http://media2.popsugar-assets.com/v3042/static/fonts/savoy/Savoy-Italic-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'PS Savoy';
  font-weight: normal;
  src: url("http://media3.popsugar-assets.com/v3042/static/fonts/savoy/Savoy-Roman-webfont.eot");
  src: url("http://media4.popsugar-assets.com/v3042/static/fonts/savoy/Savoy-Roman-webfont.eot?#iefix") format("embedded-opentype"),
       url("http://media1.popsugar-assets.com/v3042/static/fonts/savoy/Savoy-Roman-webfont.woff2") format("woff2"),
       url("http://media2.popsugar-assets.com/v3042/static/fonts/savoy/Savoy-Roman-webfont.woff") format("woff"),
       url("http://media4.popsugar-assets.com/v3042/static/fonts/savoy/Savoy-Roman-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'Texta';
  font-weight: normal;
  src: url("http://media1.popsugar-assets.com/v3042/static/fonts/texta/Texta-Medium-webfont.eot");
  src: url("http://media1.popsugar-assets.com/v3042/static/fonts/texta/Texta-Medium-webfont.eot?#iefix") format("embedded-opentype"),
       url("http://media2.popsugar-assets.com/v3042/static/fonts/texta/Texta-Medium-webfont.woff2") format("woff2"),
       url("http://media1.popsugar-assets.com/v3042/static/fonts/texta/Texta-Medium-webfont.woff") format("woff"),
       url("http://media3.popsugar-assets.com/v3042/static/fonts/texta/Texta-Medium-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'Texta';
  font-weight: bold;
  src: url("http://media4.popsugar-assets.com/v3042/static/fonts/texta/Texta-Heavy-webfont.eot");
  src: url("http://media2.popsugar-assets.com/v3042/static/fonts/texta/Texta-Heavy-webfont.eot?#iefix") format("embedded-opentype"),
       url("http://media3.popsugar-assets.com/v3042/static/fonts/texta/Texta-Heavy-webfont.woff2") format("woff2"),
       url("http://media3.popsugar-assets.com/v3042/static/fonts/texta/Texta-Heavy-webfont.woff") format("woff"),
       url("http://media2.popsugar-assets.com/v3042/static/fonts/texta/Texta-Heavy-webfont.ttf") format("truetype");
}
@font-face {
  font-family: 'fontello';
  src: url("/fontello.eot?1449342394");
  src: url("/fontello.eot?1449342394#iefix") format("embedded-opentype"),
    url("/fontello.woff2?1449342394") format("woff2"),
    url("/fontello.woff?1449342394") format("woff"),
    url("/fontello.ttf?1449342394") format("truetype"),
    url("/fontello.svg?1449342394#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
  }
* {
  font-family: 'Texta', 'AvenirNext-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}
b *,
strong * {font-weight: inherit;}
p {font-family: 'PS Savoy', 'Vidaloka', 'Riccione', 'Georgia', 'Times New Roman', serif;}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body.ikb {
    font-size: 18px;
    line-height: 30px;
    color: #2f3847;
    padding-top: 0;
}

/* TOP HEADER */
body.ikb .ikb-nav.expanded {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}
.ikb-nav.expanded {
    height: 150px;
    text-align: center;
    z-index: 3;
    position: relative;
}
.must-have-badge {
    position: absolute;
    padding: 10px 15px;
    top: 20px;
    right: 0;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    background: #f6f6f6;
    color: #2f3847;
    overflow: hidden;
    height: 55px;
}
.must-have-badge .first-line {
    font-family: "PS Savoy","Lora","Georgia","Times New Roman",serif;
    font-style: italic;
}
.must-have-badge .second-line {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
a {
    color: #e06;
    text-decoration: none;
    cursor: pointer;
}
.main-logo {
    height: 50px;
    margin-top: 40px;
}
audio, canvas, img, svg, video {
    vertical-align: middle;
}
img {
    border: 0;
}


/* MENU NAVICON */
.ikb-nav.expanded .nav-menu {
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 3;
}
.ikb-nav .hamburger {
    cursor: pointer;
    color: #2f3847;
}
.icon-menu:before {
    content: '\e814';
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
}

/* MENU */
.ikb-nav.expanded .nav-channel {
    margin-top: 21px;
}
.nav-channel {
    position: relative;
    font-size: 15px;
}
ikb-nav.expanded .nav-channel {
    margin-top: 21px;
}
.ikb-nav.expanded .nav-channel ul {
    height: inherit;
    float: none;
    margin: 0;
}
.nav-channel>ul {
    list-style: none;
    float: right;
    margin-right: 75px;
    height: 35px;
    display: inline;
    padding-right: 15px;
}
.nav-channel>ul>li {
    text-align: center;
    display: inline;
    padding: 0;
    position: relative;
}
.ikb-nav.expanded .nav-channel a {
    line-height: inherit;
    height: inherit;
    color: #2f3847;
    margin: 0 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 10px;
}
.nav-channel>ul>li>a {
    color: #2f3847;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0 1px;
    margin: 0 5px;
    height: 55px;
    line-height: 55px;
    position: relative;
    left: 10px;
    font-size: 13px;
    letter-spacing: 1px;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}



/* STREAM */
#header-wrapper, #page-wrapper {
    width: 1048px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0;
    position: relative;
}
#content-wrapper {
    width: 100%;
    float: left;
    margin-right: -320px;
}


/* HEADER */
body.ikb .ikb-header {
    text-align: center;
    margin: 40px 0;
}
body.ikb .ikb-header .title {
    font-size: 38px;
    font-style: italic;
    font-family: "PS Savoy","Lora","Georgia","Times New Roman",serif;
    letter-spacing: -1px;
}
body.ikb .ikb-header .title:after {
    width: 120px;
    height: 5px;
    background-color: #24c4f8;
    display: block;
    content: ' ';
    margin: 30px auto 10px;
}

/* POST */
body.ikb .post-subhead a {
    font-weight: bold;
    color: #002FA7;
    letter-spacing: 1px;
}
body.ikb .stream-view .post-title a span {
    font-family: "PS Savoy","Lora","Georgia","Times New Roman",serif;
    display: block;
    margin: 10px 0;
}
.stream-view .post-title a {
    display: block;
    line-height: 32px;
    font-size: 28px;
    font-family: "Texta","ProximaNova","AvenirNext-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: #2f3847;
    margin-bottom: 5px;
    margin-top: 20px;
}
body.ikb .stream-view .byline span {
    font-family: "PS Savoy","Lora","Georgia","Times New Roman",serif;
    font-style: italic;
    text-transform: none;
    font-size: 13px;
}
body.ikb .stream-view .byline span a {
    font-family: "Texta","ProximaNova","AvenirNext-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #24c4f8;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}
.stream-view .post-image img {
    width: 700px;
    height: auto;
}



/* PAGER */
#pager {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#pager {
    margin-top: 10px;
    margin-bottom: 20px;
}
body.ikb a {
    color: #24c4f8;
    -webkit-transition: color,0.2s,ease;
    -moz-transition: color,0.2s,ease;
    -o-transition: color,0.2s,ease;
    transition: color,0.2s,ease;
}
.pager-next {
      border: 1px solid #002FA7;
    color: #002FA7;
}
#end {
      border: 0;
    color: #002FA7;
}
body.ikb .fd-pager #pager span {
    display: inline-block;
    border: 1px solid #002FA7;
    color: #002FA7;
    margin-bottom: 44px;
    -webkit-transition: all,0,ease;
    -moz-transition: all,0,ease;
    -o-transition: all,0,ease;
    transition: all,0,ease;
}
#pager a {
    color: #002FA7;
    width: 200px;
    font-size: 18px;
    line-height: 30px;
    clear: both;
    display: block;
}



.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}


/* FOOTER */
body.ikb footer .footer-container {
    max-width: 1440px;
    margin: 30px auto 0;
    padding: 40px 20px;
}
body.ikb footer .no-email .column {
    width: 22%;
}
body.ikb footer .column {
    float: left;
    width: 15.5%;
    font-size: 14px;
}
body.ikb footer {
    background: #f6f6f6;
}
body.ikb footer .column a strong {
    color: #002FA7;
    margin-bottom: 0;
}
b, strong {
    font-weight: 600;
}
body.ikb footer .column a {
    display: block;
    color: #2f3847;
}
footer .copyright {
    margin-left: 10px;
    font-size: 12px;
    color: #868686;
}
body.ikb footer .copy {
    text-align: center;
}
