.block {
  padding: 10px 25px;
}
.block:not(:last-child) {
  border-bottom: 2px solid #cbd6dc;
}
.icon {
  height: 30px;
  width: 30px;
  margin-right: 16px;
}



// WEBPACK FOOTER //
// ./src/containers/Settings/Connections/ConnectionBlock.less