deployments-dashboard {
  &[detailed-page="true"] {
    > ui-card {
      margin-top: 25px;
    }
  }

  :global {
    no-data-card {
      margin-top: var(--indent-width);
    }
  }

  > header {
    /* restore this after filter moves to higher level component */
    /* height: 56px; */
    display: flex;
    align-items: center;

    widget-header {
      display: flex;
      flex-direction: column;
      flex: 1;

      header-tools {
        display: flex;
        justify-content: space-between;
        padding: 0px;
        height: 56px;
        padding-right: 6px;
        align-items: center;

        filter-icon-group {
          display: flex;
          align-self: center;
          cursor: pointer;

          &.filters-active {
            filter-icon {
              color: var(--accent-color) !important;
            }
          }

          .filters-active {
            filter-icon {
              color: var(--accent-color) !important;
            }
          }

          filter-icon {
            display: flex;
            align-self: center;
            color: var(--text-color);
            font-size: 23px;

            &:hover {
              color: var(--accent-color);
            }
          }

          filter-message {
            display: flex;
            align-self: center;
            color: var(--text-color);
            margin-left: 6px;
          }
        }
      }
    }
  }
}

workflow-deployment-form,
pipeline-deployment-form {
  display: none;

  &[checked] {
    display: block;
  }
}

workflow-deployment-form {
  margin-top: 10px;
}

pipeline-deployment-form {
  margin-top: -10px;
}

deployment-selection {
  display: flex;
  flex-direction: row;

  > label {
    font-weight: normal;
    padding-right: 20px;
    cursor: pointer;

    input[type="radio"] {
      display: inline-block;
      margin-right: 8px;
    }
  }
}

workflow-deployment-form {
  display: none;
}

.modal {
  :global {
    .modal-dialog {
      .modal-content {
        width: 800px;
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/pages/deployments/DeploymentsDashboard.css