@import "../../../styles/vars.css";
.main {
  :global {
    .__orange {
      color: #ff8c00;
    }

    action-buttons {
      display: flex;
      align-items: center;
    }

    .__lightText {
      color: $LIGHT_GRAY;
      font-weight: bold;
    }

    /* .icons8-source-code {
      font-size: 18px;
      margin-right: 10px;
      color: $SETUP_AS_CODE_THEME_COLOR;
    } */
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/EnvironmentPage/views/EnvironmentCardView.css