@import "../../../styles/vars.css";

.main {
  :global {
    /* .icons8-source-code {
      font-size: 18px;
      margin-right: 10px;
      color: $SETUP_AS_CODE_THEME_COLOR;
    } */
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ApplicationPage/views/AppCardActions.css