@import '../../../styles/vars.css';

.main {
  margin-left:  0px;
  margin-right: 0px;
  margin-top:   -5px;

  :global {
    .wings-threedots ul.dropdown-menu {
      border:2px solid $TEXT_COLOR_LIGHT;
    }
    .wings-threedots ul.dropdown-menu li a{
      color: $TEXT_COLOR !important;
      font-weight:400;
      &:hover,&:active,&:focus {
        background-color: $HOVER_COLOR !important;
      }
    }

    .wings-card-col-app {
      padding-left: 0px;
      padding-right: 0px;
    }

    .__hide {
      display:none;
    }

    .__name {
      display: inline-block;
    }
    .__appDescription {
      color: $TEXT_COLOR_LIGHT !important;
    }

    .__none {
      display: inline-block;
      color:$TEXT_COLOR_LIGHT;
    }

    .__notificationBar {
      margin-left: 20px;
    }

    .__rightBorder {
      border-right: 1px solid #EEEEEE;
      height: 100%;
    }

    .__header {
      font-weight: normal;
    }

    .__tasksBody {
      text-align: center;
    }

    .__body {
      padding-top:10px;
    }

    .__footer {
      font-size: inherit;
      margin-bottom: 3px;
    }

    hr {
      margin-bottom: 0px;
    }

    .icons8-high-priority-3 {
      color: $YELLOW_WARNING;
    }

    .__bubbleChartContainer {
      margin: 0 auto;
    }

    .__appStats {
      margin-top: 0px;
      padding-top: 0px;
    }

  }
}

.notificationMenu {
  ul{
    padding-top:0;
    margin-top: 0;
    background: $BGCOLOR;
    border: 1px solid $BORDER_COLOR;

    color: $TEXT_COLOR;

    a {
      background-color: $BGCOLOR;
      color: $LINK_COLOR;
      }

     p {
      color: $MENU_ITEM_SELECTED;
      font-size: smaller;
     }
    }
}

.infinte {
  overflow-y: hidden;
  max-height: 300px;
  overflow-x: hidden;
  &:hover{
    overflow-y: auto;
  };
}

.cardFooter {
  height: 95px;
  font-size: small;
  color: $TEXT_COLOR;
  :global {

    .__rightBorder {
      border-right: 1px solid #EEEEEE;
      height: 100%;
    }

    .wings-dl {
      margin-left: 9%;
      margin-top: 10px;
      dt {
        margin-bottom: 5px;
        width: 25%;
        color: $TEXT_COLOR;
        padding-top: 0px;
      }

      dd {
        margin-bottom: 5px;
        padding-top: 0px;
      }

    }
  };

}

.example {
}

.noData {
 color:$TEXT_COLOR_LIGHT !important;
}

.appCardBubble {
   margin-left: -58px;
    top: 30px;
    position: ABSOLUTE;
}





// WEBPACK FOOTER //
// webpack:///src/containers/ApplicationPage/views/ApplicationCardView.css