@import "../../../styles/vars.css";

.main {
  :global {
    header {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      border-bottom: 1px solid $BORDER_LIGHT;
      background: #f5f5f5;
      height: 3em;
      padding: 0px $CARD_INDENT_WIDTH;

      title {
        display: flex;
        align-self: center;
        color: var(--text-color);
        display: flex;
      }

      .action-button {
        display: flex;
        align-items: stretch;

        &:hover {
          cursor: pointer;
          color: black;
        }

        .action-button-items {
          display: flex;
          align-self: center;

          .action-button-item {
            display: flex;
            align-items: center;
            margin-left: 0.3em;
          }
        }
      }

      .__configActions {
        color: #000;
      }
    }

    .body {
      background-color: $BGCOLOR_LIGHT_BLUE;
      padding: $CARD_INDENT_WIDTH;
      overflow: hidden;

      .sub-section {
        margin-bottom: $CARD_INDENT_WIDTH;
        border: 1px solid var(--card-border-color);
        box-sizing: border-box;
        border-radius: 4px;
        background-color: var(--color-white);
        overflow: hidden;

        &:last-child {
          margin-bottom: 0px;
        }
      }

      .key-value-row {
        /* The key and action-icons should be centered in the row,
        except when the value grows the row size and spans several lines.
        Then the key and action-icons should stay at the top.
        Row height is controlled by the padding in this class.  */
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0.7em $CARD_INDENT_WIDTH;
        font-size: 16px;
        box-sizing: border-box;
        line-height: 1em;
        border-bottom: 1px solid $BORDER_LIGHT;
        cursor: default;

        &:last-child {
          border-bottom: unset;
        }

        .key {
          display: flex;
          font-weight: bold;
          align-items: center;
          flex: 1;
        }

        .value {
          display: flex;
          align-items: center;
          flex: 4;
        }

        .action-icons {
          display: flex;
          align-items: stretch;
          font-size: 1em;
          margin-left: 16px;

          i {
            display: flex;
            margin-left: 0.3em;
            cursor: pointer;
            color: $ICON_TEXT_COLOR;

            &:hover {
              cursor: pointer;
              color: black;
            }
          }
        }

        &:hover {
          background-color: $BGCOLOR;
        }
      }
    }

    .__viewHistory {
      color: $TEXT_COLOR_LIGHT;
    }

    .manageVersion {
      display: block;
      margin-left: 0px;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ConfigPage/views/ConfigTableView.css