.main {
  header {
    display: flex;
    button {
      align-self: baseline;
    }
    aside {
      margin-left: 50px;
      flex: 1;
    }
  }

  :global {
    .pt-collapse {
      transform: translateY(0px);
      transition: none;
      margin: 10px 20px;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/components/CollapsiblePanel/CollapsiblePanel.css