.container {
  border-left: 1px solid #e0e6e9;
  position: relative;
}
.borderRight {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  border-left: 1px solid #e0e6e9;
}
.cell {
  border-bottom: 1px solid #e0e6e9;
  border-right: 1px solid #e0e6e9;
  background-color: white;
  padding: 2px 4px;
  font-size: 12px;
  overflow: hidden;
  white-space: pre;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.cell.rightAlign {
  text-align: right;
}
.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



// WEBPACK FOOTER //
// ./src/components/DataSource/DataPreview/DataPreview.less