.container {
  color: #21454e;
}
.invite {
  height: 88px;
  margin-bottom: 18px;
  padding: 0 39px 0 29px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #e0e6e9;
}
.pending {
  padding: 24px 0;
  border-bottom: 1px solid #cbd6dc;
}



// WEBPACK FOOTER //
// ./src/containers/Settings/Invitations/Invitations.less