@import '../../../styles/vars.css';

.main {
  :global{
    dt {
      text-transform: capitalize;
    }
    .box-body{
      display: flex;
    }
    .wings-card-body .wings-card-actions{
      margin-left: auto;
    }
  };
}



// WEBPACK FOOTER //
// webpack:///src/containers/AcctSettingPage/views/AcctSettingCardViewPage.css