@import '../../styles/vars.css';

.main {
  :global {
    .__viewsLink {
      display: flex;
      position: absolute;

      right: 0;
      height: 48px;

      justify-content: flex-end;
      align-items: center;

      padding-right: 24px;
      color: #ccc;

      span {
        margin-left: 10px;
      }
      .__default {
        color: $TEXT_COLOR;
      }
      .__link {
        color: $LINK_COLOR;
        cursor: pointer;
      }
      .checkbox {
        display: inline;
        color: $TEXT_COLOR;
      }
    }

    .control-sidebar,
    .control-sidebar-bg {
      display: none;
    }
    .jtk-surface {
      margin-right: 0;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/OrchestrationPage/CanaryQuestionnairesEditor.css