@import "../../styles/vars.css";

.main {
  margin-top: var(--indent-width);
  color: #3a4449;

  :global {
    .content-header {
      padding: 0;
    }

    .deploy-breadcrumbs {
      margin-left: var(--indent-width);
    }

    textarea {
      resize: none;
    }

    .wings-card-row,
    .wings-card-col {
      padding-left: 0;
      padding-right: 0;
    }

    .__viewsLink {
      span {
        margin-left: 10px;
      }
      .__default {
        color: $TEXT_COLOR;
      }
      .__link {
        color: $LINK_COLOR;
        cursor: pointer;
      }
    }

    .phase-column {
      margin-top: 20px;
    }

    .__settingCol {
      border-left: 1px solid #e7e7e7;
      padding-left: 20px;
      min-height: 100vh;
    }

    .__dl {
      padding-left: 10px;
      padding-bottom: 10px;
    }

    .__dl dt {
      margin-bottom: 0px;
    }

    .__dl dd {
      margin-bottom: 0px;
      padding-left: 20px;
    }

    .__stepHeading {
      padding-left: 5px;
      cursor: default;
      font-size: 18px;

      .custom-failure-strategy-label {
        margin-left: 6px;
        font-size: 12px;
      }
    }

    .__accent {
      color: $LINK_COLOR;
    }

    .__stepDetails {
      margin: 10px;
    }

    .__noTopBorder {
      border-top: none;
    }

    .badge {
      border: 3px solid #e6e8e7;
      background-color: transparent;
      border-radius: 4px;
      padding: 2px 3px;
      margin-right: 20px;

      i {
        &:before {
          font-weight: bold;
          font-size: 11px;
          color: #555;
        }
      }
    }
    .__invalidStep {
      border-color: #febf00;
    }
    .__invalidIcon {
      position: absolute;
      left: -18px;
      font-size: 20px;
      color: #febf00;
      margin-top: -1px;
    }
    .__invalidText {
      font-weight: normal;
      color: $TEXT_COLOR;
      margin-left: 5px;
    }

    .__addIconElement {
      color: $LINK_COLOR;
      font-weight: bold;
      .badge {
        border: none;
        margin-left: 6px;
        i {
          &:before {
            font-weight: bold;
            font-size: 11px;
            color: $LINK_COLOR;
          }
        }
      }
    }

    .radio-inline {
      padding-top: 20px;
    }

    .__deploymentStepsBody {
      padding-left: 65px;
    }

    .__addBotttomBufferForPullDownMenu {
      margin-bottom: 100px;
    }

    .__stepMenu {
      margin-left: 10px;
      font-size: small;
    }

    .__last {
      margin: 40px 60px;
    }

    .__listCommand {
      padding: 4px 0px 4px 10px;
      max-width: max-content;
      display: block;
      cursor: pointer;
      .__itemActionIcon {
        margin-left: 5px;
        color: #bbb;
        cursor: pointer;
        display: none;
      }
      &:hover {
        .__itemActionIcon {
          color: #555;
          display: inline-block;
        }
      }
    }

    .dropdown-menu {
      border-width: 2px;
    }

    .__rightMenu {
      padding: 0px 10px;
      padding-right: 20px;
      width: max-content;
    }
    .__waitText {
      padding-top: 5px;
      margin-bottom: 12px;
      .__waitValue {
        color: $LINK_COLOR;
        cursor: pointer;
      }
    }

    .__red {
      color: $RED_ERROR_LIGHT;
      font-style: italic;
    }

    .Select {
      text-align: left;
      width: 350px;

      .Select-menu {
        max-height: 400px !important;
      }

      .Select-control {
        background-color: inherit;
        border: none;
        background-color: inherit;

        .Select-placeholder {
          color: #555;
        }

        .Select-arrow-zone {
          display: none;
        }
      }
    }

    .form-group {
      label {
        padding-bottom: 10px;

        div,
        span {
          padding-top: 3px;
        }
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/OrchestrationPage/DeploymentPhaseDetail.css