@import '../../styles/vars.css';
.main {
  :global {
    textarea {
      resize: none;
    }

    .checkboxes {
      .checkbox {
        margin-right: 10px;
        display: inline-block;
      }
    }

    .__envIdVersionMap {
      display: none;
    }

    .__targetToAllEnvs {
      margin-top: -40px;
    }
  };
}



// WEBPACK FOOTER //
// webpack:///src/containers/OrchestrationPage/OrchestrationModal.css