@import '../../styles/vars.css';

.main :global {
  .modal-dialog {
    width: 850px;
    max-width: 1000px;
    button.close {
      outline: none !important;
    }
  }

  .bp-table-container {
    outline: none !important;
  }

  .bp-table-editable-name::before {
    box-shadow: none !important;
  }

  .bp-table-body {
    overflow: visible;
  }

  .bp-table-container,
  .bp-table-menu,
  .bp-table-column-headers,
  .bp-table-column-headers .bp-table-header.bp-table-last-in-row,
  .bp-table-column-headers .bp-table-header.bp-table-last-in-column,
  .bp-table-header,
  .bp-table-header.bp-table-last-in-column {
    box-shadow: none;
  }

  .bp-table-menu,
  .bp-table-column-headers,
  .bp-table-row-headers,
  .bp-table-container {
    background-color: transparent;
    color: #a7aaab;
  }

  .bp-table-menu {
    width: 0px !important;
  }

  .bp-table-column-name-text {
    font-size: 12px;
    padding-left: 5px;
  }

  .bp-table-body .bp-table-cell {
    padding: 0;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bp-table-row-headers .bp-table-header {
    min-width: 0;
    width: 0; // Scrolling issues with zebra stripes
    background: #ffffff;

    .bp-table-resize-handle {
      display: none;
    }

    .glyphicon {
      opacity: 0;
      font-size: 8px;
      position: absolute;
      top: 17px;
      left: 5px;
      transition: opacity .2s ease-out;
      color: #7db9c6;
    }

    &:hover .glyphicon {
      opacity: 1;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .bp-table-cell {
    cursor: default;
    box-shadow: none !important;

    input[type='text'] {
      display: block;
      text-overflow: ellipsis;
      background: transparent;
      width: 95%;
    }

    input,
    select {
      outline: none !important;
      height: 34px;
      padding: 6px 12px;
      border: 1px solid $BORDER_COLOR;
      background: $CARD_BGCOLOR;
      margin-left: 10px;

      &:focus {
        border-color: $BORDER_INPUT_FOCUS;
      }
    }

    .icons8-delete {
      cursor: pointer;
    }
  }

  .add-variable {
    height: 32px;

    margin-bottom: 12px;
    padding: 10px 0;

    border: none;
    outline: none !important;

    background-color: transparent;
    color: #7db9c6;
    font-weight: 600;
  }

  .save-variables {
    height: 35px;
    padding: 0 50px;

    box-shadow: none !important;
    outline: none !important;
    border: none;
    border-radius: 2px;

    background: #41454a;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
  }

  .bp-table-truncated-text {
    color: var(--text-color);
    font-size: 14px;
    overflow: visible;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bp-table-container,
  .bp-table-body {
    overflow: visible;
  }

  .bp-table-header .bp-table-truncated-text {
    font-weight: bold;
  }

  input,
  select {
    font-size: 14px;
  }

  form-buttons {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid var(--color-grey-light);
    padding-top: 10px;
  }

  .bp-table-bottom-container {
    min-height: 200px;
  }

  .mentions-form-control--singleLine {
    width: 95%;
  }

  .bp-table-bottom-container {
    margin-top: 10px;
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/OrchestrationPage/WorkflowVariablesModal.css