@import '../../styles/vars.css';
.main {
  :global {
    .__viewHistory {
      margin-top: -10px;
      font-size: 1.5em;
      color: $TEXT_COLOR_LIGHT;
    }

    .content {
      /* padding-left: 13px !important; */
    }

    .button-bar-box-header {
      color: #444;
      padding: 0px 0px;
      margin-left: -2px;
      display: flex;
      align-items: center;
      height: $HEADER_HEIGHT;
      margin-bottom: -15px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .__SearchBtnbar {
      margin-top: 10px;
    }

    .container-fluid > .row > .col-md-12 {
      padding: 0;

      .wings-card-col {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/OrchestrationPage/WorkflowListPage.css