@import '../../../styles/vars.css';
@import '../../../styles/icons8-classes.css';

.main {
  :global {
    .__expanded {
      background-color: #fff;
      & > h4 {
        margin-bottom: 25px;
        &::before {
          @mixin icons8-expand-arrow-content;
        }
      }
    }

    .__collapsed {
      h4 {
        &::before {
          @mixin icons8-forward-content;
        }
      }
      .__settingContent {
        display: none;
      }
    }

    .__settingContent {
      .__invalidIcon {
        left: 27px !important;
      }
    }

    .__customItem {
      padding-bottom: 15px;
      border-bottom: 1px solid #ddd;
    }

    .__settingBox {
      padding: 10px;
      padding-left: 30px;
      margin-top: 10px;
      & > h4 {
        font-size: 14px;
        cursor: pointer;
        &::before {
           font-family: "icons8";
           margin-right: 10px;
           font-size: 14px;
        }
      }
      .Select {
        display: inline-block;
        vertical-align: -12px;
        text-align: left;
        margin-right: 10px;
        min-width: 300px;
        .Select-control {
          background-color: inherit;
          .Select-placeholder {
            color: #555;
            padding-left: 5px;
          }
        }
      }
    }
    .__settingBoxModal {
      padding: 0;
      margin: -10px;
      margin-bottom: 5px;
    }
    .__settingRow {
      margin-top: 12px;
      margin-left: 10px;
    }
    .__settingFormCol {
      display: block;
      margin-bottom: 4px;
      font-weight: bold;
    }
    .__settingItem {
      /* margin-top: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid #ddd; */
      .__settingIcon {
        margin-right: 5px;
        color: #777;
        font-size: 10px;
      }
      .__deleteIcon {
        margin-right: 5px;
        color: #bbb;
        cursor: pointer;
        float: right;
        &:hover {
          color: #555;
        }
      }
    }
    .__retryField {
      width: 200px;
    }

    .__settingFooter {
      margin-top: 25px;
      button {
        border: none;
        background-color: #fff;
        &:disabled {
          color: $TEXT_COLOR_LIGHT;
        }
      }
    }

    .__footer {
      margin-left: 10px;
      margin-top: 20px;
    }

    i.edit-workflow-variables {
      margin-left: 10px;
      color: #AAA;
      &:hover{
        color: #444;
      }
    }

    .workflow-variable {
      padding-left: 5px;
      padding-bottom: 10px;

      .variable-name {
        display: inline-block;
        width: 150px;
        margin-right: 15px;
        vertical-align: bottom;
      }

      .variable-value {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 230px;
        display: inline-block;
        vertical-align: bottom;
      }
    }

  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/OrchestrationPage/views/SettingPanel.css