@import "../../../styles/vars.css";
@import "../../../styles/icons8-classes.css";

.main {
  .workflowActions {
  }
  /*Styles for the template status */
  .templateStatus {
    border: 1px solid var(--color-blue);
    margin-left: 50px;
    padding: 5px;
    color: $ACCENT_COLOR;
    font-size: 16px;
    text-transform: uppercase;
    cursor: initial;
  }

  :global {
    ui-card {
      item-name {
        align-items: baseline;
      }
      main {
        padding: 0 !important; /* fix padding issue, we don't need padding here */
      }
    }

    .__invalid {
      i {
        color: $YELLOW_WARNING;
        margin-left: 10px;
      }
      span {
        font-size: 14px;
        color: $LIGHT_GRAY;
        margin-left: 5px;
      }
    }

    label-row {
      display: flex;

      .__workflowType {
        padding: 10px 16px;
        display: inline-block;

        .__workflowTypeLabel {
          color: #ccc;
          font-weight: bold;
        }
      }
    }

    .__execTable {
      padding-bottom: 15px;
      background-color: #fff;
      .__execTableLabel {
        margin-top: 15px;
      }
      .__colHeader {
        color: #ccc;
        font-weight: bold;
        padding: 10px 10px 10px 0;
        border-bottom: 1px solid #eee;
        margin-bottom: 10px;
      }
      .__tableRow {
        width: 80%;
        margin: 0 auto;
      }
    }

    .__workflowView {
      padding: 10px;
      margin-top: 10px;
      background: url(/img/workflow/grid-pattern-blue.png);
      .jtk-surface-wings {
        max-height: 122px !important;
        background-color: inherit;
        transform: scale(1);
        margin-left: 40px;
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/OrchestrationPage/views/WorkflowCardView.css