@import '../../styles/vars.css';

.main {
  position: fixed;
  top: $TOP_NAV_HEIGHT !important;

  :global {
    .sidebar {
      margin: 15px 0 0;
    }

    ul.sidebar-menu {
      font-size: 12px;
    }

    .__appDropdown {
      position: relative;

      .dropdown {
        position: relative;
        top: -32px;
      }

      .dropdown-menu {
        margin-left: -35px;
        margin-top : 10px;
        width      : 200px;
        max-height : 350px;
      }
    }

    .dropdown-toggle {
      min-width: 45px;
      display: inline-block;
      span {
        float: right;
        margin-top: 9px;
        margin-left: 8px;
      }
    }

    .__appMenu {
      font-size: 14px;
      a {
        padding-left: 23px !important;
      }
    }

    .__noAppId {
      a {
        color: #999 !important;
      }
      i {
        color: #999 !important;
      }
    }

    .__appMenuLast {
      padding-bottom: 10px;
    }
  }

  .noAppsMsg {
    padding: 10px;
    color: #777;
  }
}



// WEBPACK FOOTER //
// webpack:///src/components/AppSidebar/AppContextSidebar.css