no-data-card {
  border: 1px solid var(--card-border-color);
  border-radius: 3px;
  font-size: 18px;
  background: var(--color-white);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

no-data-card button {
  font-size: 18px !important;
  margin-top: 15px;
}



// WEBPACK FOOTER //
// webpack:///src/components/NoDataCard/NoDataCard.css