.container {
  height: 452px;
}
.block {
  width: 168px;
  height: 160px;
  -webkit-box-shadow: 1px 2px 4px 0 rgba(188, 188, 188, 0.5);
          box-shadow: 1px 2px 4px 0 rgba(188, 188, 188, 0.5);
  cursor: pointer;
}
.block:not(:last-child) {
  margin-right: 16px;
}



// WEBPACK FOOTER //
// ./src/components/DataSource/SourceSelector.less