.container {
  outline: none;
}
.cell {
  height: 20px;
  border-left: 1px solid transparent;
  border-right: 1px solid #e0e6e9;
  border-bottom: 1px solid #e0e6e9;
  background-color: white;
  padding: 2px 4px;
  font-size: 12px;
  overflow: hidden;
  white-space: pre;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.isLevelCollapsed {
  opacity: 0.5;
}
.isLink {
  color: #038cd3;
  text-decoration: underline;
}
.rightAlign {
  text-align: right;
}
.isMulti {
  text-align: center;
}
.cellWrapper {
  position: relative;
  background-color: white;
  border-left: 1px solid transparent;
  border-right: 1px solid #e0e6e9;
  border-bottom: 1px solid #e0e6e9;
}
.isSelected {
  background-color: #ebf8ff;
}
.stickyCell {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.selectedBorder {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border: 2px solid #038cd3;
  pointer-events: none;
}
.isLastInLevel {
  border-right: 1px solid #90a2a7;
}
.noBorders {
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}



// WEBPACK FOOTER //
// ./src/components/table/Cell.less