@import '../../../styles/vars.css';

.main {
  width: 310px;
  padding: 5px 20px 10px 20px;
  background-color: $BGCOLOR;
  border: 1px solid #bbb;
  border-top: none;
  white-space: nowrap;

  i {
    float: left;
    margin-right: 5px;
  }

  div {
    padding: 10px 5px 10px 5px;
  }

  :global {
    .__header {
      color: $TEXT_COLOR_LIGHT;
      margin-top: -12px;
    }

    .__lastArtifactName {
      width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      float: left;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ServiceInstancePage/views/LastArtifactHistory.css