@import "../../styles/vars.css";

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}



// WEBPACK FOOTER //
// webpack:///src/components/DonutChart/DonutChart.css