@import "../../styles/vars.css";
.main {
  :global {
    .wings-spinner {
      float: right;
    }

    .hide {
      display: none;
    }

    .errorMessage {
      position: absolute;
      bottom: 60px;
      color: red;
    }
    .buttonBar {
      display: flex;
      align-items: center;
    }
    .spinner {
      display: flex;
      margin-left: auto;
    }
  }
}

.encrypted {
  label[for="root_encrypted"] {
    display: none;
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ServiceTemplatePage/ConfigOverride.css