@import '../../styles/vars.css';

.main {
  :global {
    legend#root_awsInstanceFilter__title {
      display: none;
    }
    .buttonBar {
      display: flex;
      align-items: center;
    }
    .react-tagsinput {
      background-color: #eee;
      opacity: 1;
      padding: 0;
    }

    label[for="root_awsInstanceFilter"] {
      display: none;
    }

    .AddOptionsbtn {
    }

    .__tagsField {
    }

    .__tags-form-control {
      display: block;
      border-radius: 0;
      width: 350px;
      padding: 10px;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      background-clip: padding-box;
      font-size: 14px;
    }
    .wings-spinner {
      display: flex;
      margin-left: auto;
    }

    .__error {
      color: red;
    }
    .__show {
      display: block;
    }
    .__hide {
      display: none;
    }
    textarea {
      height: 90px;
      resize: none;
    }

    .modal-dialog {
      width: 650px;
    }
    .__test-connectivity-btn {
      position: relative;
      top: -33px;
      float: right;
      background: #3a4449;
      padding: 5px;
      color: white;
      font-weight: bold;
      font-size: 17px;
      text-align: center;
      width: 200px;
      border: 0px;
    }
    #root_value__title {
      display: none;
    }

    .form-control {
      font-family: monospace, 'Courier'; /* "monospace" has better thickness on Ubuntu */
      font-size: 13px; /* "monospace" on Ubuntu has invisible "_" at font-size 14px */
    }
    legend {
      font-size: 1em;
      font-weight: bold;
    }
    .btn-danger {
      background-color: #f5f5f5;
      color: darkred;
    }

    .array-item-remove i,
    .btn-danger i {
      font-family: "icons8";
      &:before {
        @mixin icons8-delete-content;
      }
    }

    .form-group {
      .btn-group {
        justify-content: flex-start !important;
        flex: 0;
      }

      .btn {
        width: 20%;
        float: right;
        padding: 0px;
        flex: 0 !important;
      }
    }

    .array-item-add  i,
    .btn-add i {
      font-family: "icons8";
      &:before {
        @mixin icons8-plus-math-content;
      }
    }

    .array-item-move-up {
      display: none;
    }
    .buttons-Div {
      display: flex;
      justify-content: space-between;
    }
    .array-item-move-down {
      display: none;
    }
  }
  .hide {
    display: none;
  }
  .vpcField {
    display: inline-block;
    width: 40%;
    /* display: flex;
    label[for='root_awsInstanceFilter_vpcIds'] {
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }*/
  }
  .multiSelect {
  }
  .subnetField {
    display: inline-block;

    width: 40%;
  }
  .securityGroupField {
    display: inline-block;
    width: 48%;
    margin-left: 20px;
  }
  .showTags {
  }
  .tagFormArrow {
    position: absolute;
    top: -15px;
    left: 160px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid grey;
  }
  .tagField {
    display: inline-block;
    width: 55%;
    margin-left: 20px;
    vertical-align: top;
    /*flex-direction: column;
    margin-left: 18px;*/
  }
  .desiredCapacity {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .leftField {
    display: inline-block;
    width: 50%;
  }

  .rightField {
    display: inline-block;
    width: 45%;
    margin-left: 20px;
  }
  .tagsComponent {
    position: absolute;
    bottom: -7%;
    left: 50%;
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ServiceTemplatePage/InfraStructureMappingModal.css