@import "../../../styles/vars.css";

.header {
  font-size: 16px;
  margin-bottom: 20px;
  .label {
    display: inline-block;
    width: 120px;
  }
}

.content {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  svg {
    width: 90%;
  }

  .chartHeader {
    margin-left: 72px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    .label {
      display: inline-block;
      width: 100px;
    }
  }

  .riskCircle {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
  }
  .riskCircleNA {
    fill: $LIGHT_GRAY;
  }
  .riskCircleLOW {
    fill: var(--color-green);
  }
  .riskCircleMEDIUM {
    fill: $YELLOW_WARNING;
  }
  .riskCircleHIGH {
    fill: $RED_ERROR;
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/WorkflowView/custom/NewRelicChartModal.css