@import "../../styles/vars.css";

.main {
  display: flex;
  align-items: center;

  action-icon-label {
    display: flex;
    align-items: center;
    flex: 1;
  }

  /* This needs to be global to access the dropdown content */
  :global {
    ul.dropdown-menu {
      min-width: unset;

      li {
        a {
          display: flex;
          align-items: center;
          padding: 3px 10px;
          color: $TEXT_COLOR_DARK;
        }

        &:hover {
          .harness-icon {
            color: $TEXT_COLOR_DARK;
          }
        }

        i.three-dots {
          display: flex;
          width: 32px;
          justify-content: flex-end;
        }
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/components/ActionsDropdown/ActionsDropdown.css