@import '../../styles/vars.css';

.main {
  :global {
    .content {
      padding-top: 19px;
      padding-left: 5px;
    };

    .wings-card-col {
      margin-bottom: 12px;
    }

    .__notificationBar {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/AppOverview/AppOverview.css