@import "../../styles/vars.css";
@import "../../styles/icons8-classes.css";

.main {
  :global {
    .progress.wings-spinner {
      margin-left: 12px;
      vertical-align: top;
      top: 3px;
      position: relative;
      background: transparent;
    }

    .progress-options {
      display: inline-block;

      input[type="checkbox"] {
        position: relative;
        margin-left: -10px;
        margin-right: -5px;
        top: -1px;
      }

      .refresh-label {
        vertical-align: top;
      }

      .refresh-select {
        vertical-align: top;
        margin-left: 6px;

        select {
          background: #fff;
          border: 1px solid #aaa;
          height: 22px;
          margin-right: 4px;
          padding: 0;
          vertical-align: top;
          margin-top: -3px;
        }
      }
    }

    .modal-dialog {
      width: 75%;
    }

    .modal-body {
      max-height: 50%;
      overflow-y: scroll;
    }

    .panel {
      margin-bottom: 0.5px;
      border: none;

      h4 {
        cursor: pointer;
      }
    }

    .__downloadLog {
      cursor: pointer;
      color: $INPROGRESS;
      &:hover {
        color: #fff !important;
      }
    }

    .panel-heading a:before {
      font-family: "icons8";
      @mixin icons8-forward-content;
      float: left;
      color: grey;
      margin-right: 5px;
    }

    .expanded .panel-heading a:before {
      font-family: "icons8";
      @mixin icons8-expand-arrow-content;
    }

    .panel-body {
      padding: 5px;
    }

    .checkbox span {
      margin-left: 5px;
    }

    .downloadIcon {
      margin-right: 5px;
    }

    pre,
    code,
    div.console-container {
      background-color: #000 !important;
      color: #fff;
      font-family: monospace, "Courier"; /* "monospace" has better thickness on Ubuntu */
      font-size: 11px;
      padding: 0.4%;
      word-wrap: break-word;
      word-break: break-all;
      border: none;
      white-space: pre;
    }

    .SUCCESS {
      border-left: 5px solid var(--color-green);
    }

    .FAILURE {
      border-left: 5px solid $RED_ERROR;
    }

    .RUNNING {
      border-left: 5px solid $INPROGRESS;
    }

    .FAILURE:first-of-type {
      .panel-heading {
        background-color: #f7c5c5;
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/ActivityPage/ActivityModal.css