@import '../../styles/vars.css';
.main {
  :global {
    textarea {
      resize: none;
    }

    .__objCommand {
      display: none;
    }

    .__envIdVersionMap {
      display: none;
    }

    .__targetToAllEnvs {
      margin-top: -20px;
    }
  };
}



// WEBPACK FOOTER //
// webpack:///src/containers/CommandPage/CommandModal.css