@import "../../styles/vars.css";

.main {
  :global {
    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 10px auto;
      padding: 0px;
      background: transparent;
      overflow: hidden;
    }

    .vertical {
      cursor: pointer;

      .progress-bar {
        display: flex;
        flex: 1;
        height: 60px;
        min-width: 4px;
        margin-right: 3px;

        .progress-track {
          position: relative;
          height: 100%;
          width: 100%;
          background: var(--color-grey-light);

          .progress-fill {
            position: absolute;
            height: 50%;
            width: 100%;
            color: yellow;
            background: var(--color-blue-light);
            bottom: 0;
          }

          .totalCount {
            background: var(--color-blue-light);
          }

          .failedCount {
            background: var(--color-red-light);
          }
        }
      }

      .active {
        .progress-track {
          background: var(--color-grey-50);

          .totalCount,
          .instancesCount {
            background: var(--color-blue);
          }

          .failedCount {
            background: var(--color-red);
          }
        }
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/components/SparkChart/SparkChart.css