:root {
  --font-size: 12
}

.appBg {
	background-image: repeating-linear-gradient(
    -45deg,
    #ffeeb8,
    #fff5d6 50px,
    #ffeeb8 100px
  );
}

.appTopBottom {
  height: 1px;
}

.appMargin {
  margin-left: 12px;
  margin-right: 12px;
}

.appTopContent {
  font-size: calc(1pt * var(--font-size));
}

.appTerm > dl {
  display: inline;
  margin-right: 1em;
  font-weight: bold;
}

.appTerm > dl::after {
  content: ':';
}

.appTerm > dt {
  display: inline;
}

.appRed {
  color: red;
}

:local(.X) {
  color: red;
}

:local .A .B {
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
