:root {
  --font-size: 12
}

:local .leftRightMargins {
  margin-left: 12px;
  margin-right: 12px;
}

:local .leftRightMargins h2 {
  font-size: calc(1pt * var(--font-size));
}

:local .fontSize {
  font-size: calc(1pt * var(--font-size));
}

:local .term {
  display: inline;
  font-weight: bold;
}

:local .term::after {
  content: ':';
}

:local .definition {
  display: inline;
  margin: 1em;
}

:local .red {
  color: red;
}

:local .verticalMarginStop {
  height: 1px;
}
