/*
© 2017-present Harald Rudell <harald.rudell@gmail.com> (http://www.haraldrudell.com)
All rights reserved.
*/
.theme-light {
  --theme-fg: black;
  --theme-bg: white;
}

.theme-dark {
  --theme-fg: white;
  --theme-bg: black;
}
