/*
© 2017-present Harald Rudell <harald.rudell@gmail.com> (http://www.haraldrudell.com)
All rights reserved.
*/
:local .textArea {
  width: 40em;
  margin: 16px;
  border-radius: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 17px;
  padding-right: 17px;
  color: var(--theme-fg);
  background: var(--theme-bg);
}
:local .button {
  margin-top: 32px;
  margin-left: 33px;
}
