@font-face {
  font-family: 'BladeRunner';
  src: url(./assets/BLADRMF_.TTF);
}

:local .redText {
  color: red
}

:local .tweet p {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  white-space: pre-wrap;
  word-wrap: break-word;
}

:local .tweet a {
  font-size: 16px;
  font-family: 'BladeRunner';
  text-decoration:  none;
  color: red;
  text-shadow: 0px 1px 4px #23430C;
}
