@import "../../styles/vars.css";

.main {
  background-color: $CARD_BGCOLOR;

  .topHeader {
    background-color: #f7f8f7;
    height: $HEADER_HEIGHT;
    padding: 20px;
  }

  h5 {
    margin: 0;
  }

  split-view[full-screen-panel="node-details"] {
    & > section:first-child,
    split-divider {
      width: 0;
    }
  }

  :global {
    /*For Stencil modals*/
    .modal-dialog {
      width: 500px;
      position: absolute;
      right: 47%;
      top: 42px;
    }
    .__header {
      display: flex;
      align-items: stretch;
      font-size: 16px;
      box-sizing: border-box;
      height: $HEADER_HEIGHT;
      padding-left: var(--indent-width);

      button {
        margin-left: 50px;
      }

      .summary-box-header-kv-pair {
        display: inline-flex;
        align-self: center;
        font-size: 16px;
        margin-right: 16px;

        .key {
          display: flex;
        }

        .value {
          display: flex;
          margin-left: 7px;
          color: $LINK_COLOR;
        }
      }
    }

    .jtk-surface {
    }

    .__autoUpdate {
      position: absolute;
      bottom: 10px;
      left: 70px;
      z-index: 20;
      label {
        font-weight: normal;
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/WorkflowPage/WorkflowPage.css