.container {
  display: inline-block;
  position: relative;
}
.sizer {
  min-width: 1px;
  position: absolute;
  pointer-events: none;
  white-space: pre;
  visibility: hidden;
}



// WEBPACK FOOTER //
// ./src/components/widgets/AutosizeInput/index.less