@import '../../styles/vars.css';
@import "../../styles/icons8-classes.css";
.main {
  display: flex;
  :global {
    .AddOptionsbtn {
      display: inline-block;
      vertical-align: top;
      margin-left: 5px;
      margin-top: 5px;
      font-family: "icons8";
      background: none;
      box-shadow: none;
      border: transparent;
      color: #0275d8;
      font-weight: 400;
      text-transform: capitalize;
      &:before {
        @mixin icons8-plus-math-content;
      }
      &:after {
        content: "Add";
      }
      vertical-align: text-bottom;
    }
    .AddOptionsbtn,
    .AddOptionsbtn.active,
    .AddOptionsbtn:active,
    .AddOptionsbtn:disabled {
      background-color: transparent;
    }
    .react-tagsinput {
      width: 100%;
    }
    .react-tagsinput-tag {
      background: none;
      border: 1px solid rgba(0, 126, 255, 0.24);
      display: inline-block;
      color: #007eff;
      font-size: 0.9em;
      line-height: 1.4;
      margin-left: 5px;
      margin-top: 5px;
      vertical-align: top;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
      cursor: default;
      padding: 2px 5px;
    }
    .react-tagsinput-input {
      padding: 13px;
    }
    .tag-content {
      display: inline-block;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: top;
    }
    .react-tagsinput:focus,
    .react-tagsinput--focused {
      border: none !important;
    }
    .react-tagsinput input {
      height: 20px;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/components/WingsTagsInput/WingsTagsInput.css