.main {
  :global {
    ui-card {
      header {
        card-title {
          flex: 0;
          white-space: nowrap;
        }
      }
      main {
        min-height: 84px;
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/AcctNotificationGroupPage/views/AcctNotificationGroupCardView.css