@import '../../styles/vars.css';

$ITEM_HEIGHT: 85px;

.main {
  margin-bottom: 20px;
  :global {
    h3, .__serviceName {
      font-size: 16px;
      font-weight: bold;
    }
    h3 {
      color: $TEXT_COLOR_LIGHT;
    }
    .__serviceName {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .__notFound {
      margin-left: 20px;
    }
    .__graph {
      margin-left: 20px;
      margin-bottom: 10px;
    }

    dl {
      border-bottom: 1px solid $BORDER_COLOR;
      padding: 10px;
      text-align: center;

      dt {
        text-align: center;
        line-height: $ITEM_HEIGHT;
        width: 150px;
      }
      dd {
        position: relative;

        section {
          margin: 0;
        }
      }
    }

    .__dl {
      background-color: $BGCOLOR;
        dt {
          color: $LINK_COLOR !important;
        }
    }

    .item-actions {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      i {
        margin-left: 5px;
        color: $ICON_TEXT_COLOR;
      }
    }

    .jtk-surface {
      max-height: $ITEM_HEIGHT !important;
      background-color: inherit;
      overflow: hidden !important;
      margin: 0;
    }
  }
}




// WEBPACK FOOTER //
// webpack:///src/containers/WorkflowEditor/ServicesCommands.css