@import "../../styles/vars.css";
@import "../../styles/icons8-classes.css";

.main {
  background-color: #ececec;

  :global {
    .__node {
      cursor: move;
    }

    .__nodeIcon {
      display: table-cell;
      vertical-align: middle;
      font-size: 1.7em;
      border-radius: 3px;
    }

    .iconEndpoint {
      cursor: crosshair;
    }

    .editor-breadcrumbs {
      margin-left: var(--indent-width);
      padding-top: 0;
      display: flex;
      height: 48px;
      justify-content: left;
      align-items: center;

      ol.breadcrumb {
        margin-bottom: 0;
      }
    }

    .__origin-label {
      display: none; /* by default, hide for non-origin nodes */
      position: absolute;
      left: -4px;
      top: -25px;
      height: 25px;
      background-color: $CARD_BGCOLOR;
      padding: 0px 8px 0px 8px;
      height: 20px;
      border: 1px solid #eee;
      border-radius: 8px;
      color: #777;
      cursor: default;
    }
    .jsplumb-node[data-origin="true"] {
      .__origin-label {
        display: block !important;
      }
    }
    .jsplumb-node[data-setting-origin="true"] {
      .__origin-label {
        background-color: #fffcdc;
        color: #369cc7;
      }
    }

    .__rollbackLink {
      position: absolute;
      height: 99px;
      width: 1px;
      top: -102px;
      left: 33px;
      border: 1px dashed #b3deec;
    }

    .popover {
      margin-top: 30px;
    }

    .__setDefaultCheckbox {
      margin-right: 10px;
      input {
        margin-right: 5px;
      }
    }

    .__detailsIcon {
      margin-left: 7px;
      font-size: 16px;
      cursor: pointer;
      margin-top: -1px;
      position: absolute;
      opacity: 0.5;
      color: darkblue;
      &:hover {
        opacity: 1;
      }
    }

    .__nodeGroup_CONTROL {
      color: $STENCIL_CONTROL;
      border: 1px solid $STENCIL_CONTROL;
      background-color: $STENCIL_CONTROL_BG !important;
    }
    .__nodeGroup_COMMAND {
      color: $STENCIL_COMMAND;
      border: 1px solid $STENCIL_COMMAND;
      background-color: $STENCIL_COMMAND_BG !important;
    }
    .__nodeGroup_VERIFICATION {
      color: $STENCIL_VERIFICATION;
      border: 1px solid $STENCIL_VERIFICATION;
      background-color: $STENCIL_VERIFICATION_BG !important;
    }
    .__nodeGroup_OTHERS {
      color: $STENCIL_OTHERS;
      border: 1px solid $STENCIL_OTHERS;
      background-color: $STENCIL_OTHERS_BG !important;
    }
    .__nodeGroup_PHASE,
    .__nodeGroup_PHASE_STEP {
      cursor: zoom-in;
    }
  }
}

.header {
  height: 45px;
  padding-top: 21px;
  margin-left: 20px;
}

.buttonBar {
  position: absolute;
  right: 180px;
  margin-top: -40px;

  button {
    padding-left: 40px;
    padding-right: 40px;
    line-height: 15px !important;
  }
}

.nodeLabel {
  position: absolute;
  margin: auto -25%;
  width: 150%;
  margin-top: 48px;
  text-align: center;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.infoPanel {
  position: fixed;
  width: 200px;
  height: 200px;
  padding: 10px;
  right: 15px;
  bottom: 15px;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ddd;
  opacity: 0.7;
}

.nodeToolbar {
  display: none;
  position: absolute;
  height: 70px;
  top: 200px;
  left: 400px;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ddd;
  z-index: 21;
}

.nodeToolbarButton {
}
.nodeToolbarButton:hover {
  color: red;
}

.editInput {
  width: 170px;
  height: 25px;
  text-align: center;
  margin-left: -10px;
  margin-top: 0;
}

.linkTypeBox {
  pointer-events: auto !important;
  padding: 0 !important;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 8px;
      cursor: pointer;
      &:hover {
        background-color: lightblue;
      }
      img {
        width: 16px;
        margin-right: 5px;
      }
    }
  }
}

.detailsPopover {
  width: 800px;
  height: 450px;
  max-width: inherit;
  margin-top: 50px !important;
  z-index: 99; /* to stay above the Nodes & below the Stencil Edit Modal */

  :global {
    .__popoverHeader {
      height: 45px;
      background-color: #fafafa;
      margin-bottom: 20px;
      span {
        display: inline-block;
        margin: 5px;
      }
      .__headerLink {
        cursor: pointer;
        color: blue;
      }
      .__rightChevron {
        margin: 0;
        &:before {
          content: "";
          font-family: "icons8";
          @mixin icons8-forward-content;
          color: #777;
          font-size: smaller;
        }
      }
      i {
        float: right;
        font-size: 16px;
        color: #aaa;
        margin: 10px 14px;
        cursor: pointer;
      }
    }

    .popover-content {
      height: 100%;
      padding: 0;
      padding-bottom: 65px;
      & > section {
        height: 100%;
        .jtk-surface-wings {
          overflow: auto !important;
          max-height: inherit !important;
          height: 100%;
        }
      }
    }

    .__buttons {
      position: absolute;
      bottom: 10px;
      margin-left: 10px;
      button {
        margin-right: 10px;
        width: 120px;
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/WorkflowEditor/WorkflowEditor.css