.main {
  display: inline-block !important;
  width: 250px;
  z-index: 0;

  .tagsBtn {
    position: absolute;
    right: 9px;
    color: red;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    z-index: 1;
    line-height: 26px;
    color: #333;
    &:hover,
    &:focus {
      color: blue;
    }
  }

  input {
    padding-right: 40px !important;
  }
}

.tagPopover {
  padding-right: 360px;

  ul {
    margin: 0;
    padding: 8px;
    width: 400px;
    overflow-y: scroll;
    color: #333;
    li {
      display: inline-block;
      padding: 4px 7px;
      margin-right: 10px;
      background-color: #e3eef5;
      border-radius: 4px;
      margin: 4px;
      cursor: pointer;
      &:hover {
        background-color: #c3eef5;
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/components/SearchInput/SearchInput.css