.chiclet:not(:first-child) {
  margin-left: 0.25rem;
}
.chiclet:not(:last-child) {
  margin-right: 0.25rem;
}
.carouselContainer {
  margin: 0 40px 0 24px;
}
:global(.slick-prev) {
  height: inherit;
  width: inherit;
}
:global(.slick-next) {
  height: inherit;
  width: inherit;
}
:global(.slick-prev:before) {
  color: #90a2a7;
  font-size: 1rem;
}
:global(.slick-next:before) {
  color: #90a2a7;
  font-size: 1rem;
}



// WEBPACK FOOTER //
// ./src/components/filter/FilterInspector.less