@import "../../styles/vars.css";
.main {
  background: rgba(0, 0, 0, 0.8);
  :global {
    .hide {
      display: none;
    }

    .error {
      display: block;
      color: red;
    }
  }
}

.warning {
  color: var(--color-red);
  float: right;
}



// WEBPACK FOOTER //
// webpack:///src/containers/AcctConnectorPage/AcctConnectorModal.css