@import '../../styles/vars.css';

.main {
  width: 300px;

  :global {
    .popover-content {
      background-color: $BGCOLOR;
    }

    .wings-dl dt {
      width: 120px;
    }

    .__title {
      padding: 0;
      margin: 10px 0 10px 0;
      font-size: 1.2em;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/components/NodePopover/NodePopover.css