@import '../../styles/vars.css';

.main {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;

  :global {

    .wings-card-col {
      margin-right: 0px;
      margin-left: 0px;
    }

    .__actionHeader {
      display    : flex;
      align-items: center;

      height      : $TOP_NAV_HEIGHT;
      padding-top : 0px;
      padding-left: 0px;
      padding-left: 0px;

      margin-top : 0px;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/CDStatusPage/CDStatusPage.css