@import '../../styles/vars.css';

.toolTipContent {
  display: inline-block;
  max-width: 500px;
  padding: 10px;
}
.booleanFieldTemplate {
  :global {
    .checkbox {
      display: inline;
    }
  }
}
.toolTip {
}



// WEBPACK FOOTER //
// webpack:///src/components/FormFieldTemplate/FormFieldTemplate.css