@import "../../styles/vars.css";
@import "../../styles/mixins.css";

@define-mixin borderBottom {
  content: "";
  position: absolute;
  width: 25%;
  height: 1px;
  bottom: 10px;
  left: 20%;
  border-bottom: 1px solid $ACCENT_COLOR;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.main {
  position: fixed;
  width: 100%;
  background-color: #fff !important;
  border-bottom: 1px solid $BORDER_LINE;

  h3 {
    display: inline-block;
    margin-top: 5px;
    color: $TEXT_COLOR;
    a {
      color: $TEXT_COLOR !important;
    }
  }

  :global {
    .navbar-custom-menu {
      height: 100%;

      & > .navbar-nav {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .accountDropDown {
      padding: 0px;

      ul.dropdown-menu li.add-account a {
        font-weight: bold;
        color: $LINK_COLOR !important;
      }

      /* Override class inserted by NavDropdown component. */
      .dropdown-menu {
        margin-top: -5px;
      }

      .listRow {
        padding: 0px 20px;
        padding-top: 7px;
      }

      .dropdown-toggle a {
        padding: 20px 0px 0px 10px;
      }

      .accountListHeader {
        cursor: default;
        font-weight: bold;
      }

      #emailBlock {
        cursor: default;
        &:hover,
        &:active,
        &:focus {
          background-color: white !important;
        }
      }

      .accountList {
        border-radius: 0px !important;
        border: 0px solid $TEXT_COLOR_LIGHT;
        padding: 0px;
      }

      .accountListContainer {
        padding: 0px 0px;
        max-height: 500px;
        overflow: auto;

        a {
          padding: 0px 20px;
        }
      }
    }

    .appDropDown,
    .envDropDown {
      margin-right: 25px;

      ul {
        margin-top: 10px;
        max-height: 350px;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }

    .__pageDropDown {
      margin-right: 25px;
      display: inline-block;
      margin-top: -20px;
      .__header {
        font-size: 12px;
        color: $LIGHT_GRAY;
      }
    }

    .__pageDropDown ul {
      padding: 0;
      max-height: 350px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .__pageDropDown ul li.__menuLabel {
      border-bottom: 1px solid $BORDER_DARK;
      margin-top: 5px;
      background-color: $BGCOLOR_LIGHT;
      color: $TEXT_COLOR;
      padding: 0;
      a:hover,
      a:active,
      a:focus {
        background: none !important;
      }
    }

    .__pageDropDown ul li:last-child {
      margin-bottom: 20px;
    }

    .__pageDropDown ul li:first-child {
      margin: 0;
      padding-top: 5px;
      padding-left: 14px;
      padding-bottom: 5px;
      a {
        padding: 0;
      }
    }

    .__pipe {
      width: 1px;
      height: 21px;
      margin-bottom: -3px;
      margin-right: 20px;
      border-left: 1px solid #ccc;
      display: inline-block;
    }

    .__disabled {
      color: lightgray;
      cursor: not-allowed;
    }

    .__setupHeader {
      margin-top: 10px;
    }

    .__pageTitle {
      position: absolute;
      left: 0px;
      margin-left: var(--indent-width);

      h3 {
        /* @mixin h3PageTitle;*/
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .appContextHeader {
      position: relative;
      left: -5px;
      display: inline-block;
      margin-top: 5px;
      margin-left: var(--indent-width);
      font-weight: 500;
      line-height: 1.1;
      font-size: 24px;
      h3 {
        @mixin h3PageTitle;
      }
    }

    .__leftMenuDiv {
      height: 57px;
      background-color: #4f585a;
      position: absolute;
      border-bottom: 1px solid #848a8c;
      transition: background-color 0.2s ease-in-out;
    }

    .__topAcctName {
      display: inline-block;
      margin-left: 10px;
      margin-right: 20px;
    }

    .__avatar {
      border: 0;
      width: 24px;
      float: left;
    }
  }
}

.mainNav {
  background-color: rgba(255, 255, 255, 0.95) !important;

  :global {
    @media (max-width: 767px) {
      ul.navbar-nav {
        li {
          display: inline-flex;
        }
      }
    }

    .nav > li > a {
      padding-right: 25px;
      background-color: #fff !important;

      border-color: $TEXT_COLOR_LIGHT !important;
      color: $TEXT_COLOR !important;
      &:hover,
      &:active,
      &:focus {
        background-color: #fff !important;
        color: $TEXT_COLOR !important;
      }
    }

    .nav > li > a:last-child {
      padding-right: 5px;
    }

    .__notificationBar {
      float: left;
      margin-top: 13px;
      margin-right: 20px;
      font-size: 16px;
    }
  }
}

.sideTool {
  color: $BGCOLOR_LIGHT_DARK !important;
  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    color: $TEXT_COLOR_OVER_DARK !important;
  }
}

.stikyClass {
  @media (min-width: 767px) {
    position: fixed;
    display: inline-block;
    right: 0;
    background-color: transparent;
  }

  a {
    background-color: transparent;
    opacity: $NAV_OPACITY;
  }
}

.emptyDiv {
  position: relative;
  margin-bottom: 10px;
  background-color: $BGCOLOR;
}



// WEBPACK FOOTER //
// webpack:///src/components/AppNavBar/AppNavBar.css