.handle {
  z-index: 12;
  position: absolute;
}
.isHorizontal {
  cursor: col-resize;
  width: 4px;
  top: 0;
  right: 0;
}
.isHorizontal.isActive {
  background: #4bb9f4;
}
.isVertical {
  cursor: row-resize;
  left: 0;
  right: 0;
  height: 8px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}



// WEBPACK FOOTER //
// ./src/components/widgets/TableResizer/TableResizer.less