.main {
  /* height: 500px; */

  label[for="root_condition_conditionType"] {
    position: absolute;
    left: 0;
    top: 3px;
  }

  .condition {
    :global {
      #root_uuid + .form-group {
        margin-left: 120px;
        label {
          float: none;
        }
      }
    }
  }

  .cron {
    margin-left: 120px;
    margin-bottom: 25px;
    .expression {
      margin-top: 20px;
    }
  }

  .executePipeline {
    margin-bottom: 10px;
    label {
      display: inline-block;
      width: 120px;
    }
  }

  .serviceGroup {
    row {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      col-4 {
        width: 100%;
        margin-right: 10px;
        header {
          display: inline-block;
          width: 100px;
          margin-right: 10px;
        }
        input[type="textbox"] {
        }
      }
    }

    :global {
      .radio {
        margin-left: 0;
      }
    }
  }

  .disabledService {
    opacity: 0.5;
  }

  .submit {
    margin-left: 120px;
    margin-bottom: 10px;
  }

  :global {
    .Select {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
    }

    #root_name,
    #root_description {
      margin-bottom: 20px;
    }
    #root_condition_artifactFilter {
      margin-bottom: 15px;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/TriggerPage/TriggerSteps.css