.main {
  .curl {
    margin: 20px 0;

    .command {
      > div {
        overflow-wrap: break-word;
        font-family: "Courier New";
        color: var(--color-black);
        margin-left: 20px;
      }
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/TriggerPage/TriggerWebhookModal.css