.main {
  .multiStep {
    margin-bottom: 10px;
    /* height: 500px; */
    footer {
      display: flex;
      justify-content: flex-start;
      button {
        margin-right: 10px;
      }
    }
  }

  .panel {
    &[data-open="true"] {
      > header > button {
        color: var(--color-black);
      }
    }
    > header > button {
      font-size: 18px;
      width: 130px;
    }
    aside {
      margin-top: -6px;
      margin-left: 0;

      dt {
        padding-bottom: 0;
      }
    }
  }
  .panel[data-open="true"] > span {
    color: red;
  }

  .disabled {
    button {
      color: lightgrey;
    }
  }

  button[type="submit"] {
    margin-top: 20px;
  }

  /* --- :global ---*/
  :global {
    .modal-dialog {
      width: 75%;
    }
    .form-group {
      margin-bottom: 5px;
    }
    .form-control {
      width: 40%;
    }
    .control-label {
      float: left;
      margin-top: 7px;
      width: 120px;
    }
    .radio {
      margin-bottom: 20px;
    }

    .__cronBuilder {
      .cron-period {
        display: block;
        margin-bottom: 10px;

        .form-control {
          width: 66.66%;
          display: inline-block;
          text-transform: capitalize;
        }
      }

      .cron-block {
        .form-control {
          width: 15%;
          text-transform: capitalize;
          display: inline-block;
          margin: 0px 5px;
        }
      }

      .cron-block-custom {
        .form-control {
          width: 66%;
          display: inline-block;
          margin: 0px 5px;
        }
      }

      .cron-block-month,
      .cron-block-dow {
        .form-control {
          width: 20%;
          text-transform: capitalize;
          display: inline-block;
          margin: 0px 5px;
        }
      }
    }

    .__cronMessage {
      font-size: smaller;
      color: var(--color-green);
      margin-left: 10px;
    }
  } /* end of :global */
}



// WEBPACK FOOTER //
// webpack:///src/containers/TriggerPage/TriggerModal.css