.page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding-top: 56px;
}
.workbook,
.emptyTab {
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  background: #f4f6f6;
}
.sider {
  border-left: 1px solid #cbd6dc;
  width: 300px;
  background-color: #f9fafa;
  position: relative;
}
.emptyTab {
  overflow: hidden;
  position: relative;
  background: #f4f6f6;
}
.tableListContainer {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.tableList {
  border-radius: 4px;
  padding: 20px 26px;
}
.oauthModal {
  z-index: 2000;
}
.editorActive {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 11;
}



// WEBPACK FOOTER //
// ./src/containers/WorkbookPage/Workbook.less