@import '../../styles/vars.css';
.main {
  :global {
    textarea {
      resize: none;
    }

    .checkboxes {
      .checkbox {
        margin-right: 10px;
        display: inline-block;
      }
    }
  };
}



// WEBPACK FOOTER //
// webpack:///src/containers/HostPage/HostModal.css