/*
 * Harness Color Scheme - http://bit.ly/2eLP1IH
 */
:root {
  --color-blue: #00ade4;
  --color-blue-light: #80d6f2;
  --color-blue-dark: #0f749d;
  --color-link-hover: #0189b4;

  --color-green: #59b147;
  --color-green-light: #acd8a3;

  --color-yellow: #fdb813;
  --color-yellow-light: #fedc89;

  --color-red: #e64555;
  --color-red-light: #f79a92;

  --color-black: #060000;
  --color-white: #fff;

  --color-grey: #b6b8ba;
  --color-grey-dark: #77787b;
  --color-grey-dark-50: #bbbcbd;
  --color-grey: #b6b8ba;
  --color-grey-50: #dbdcdd;
  --color-grey-light: #ededee;
  --color-grey-light-50: #f8f8f8;

  /* default sizes */
  --content-width: 1230px;
  --min-container-width: 768px;
  --app-header-height: 60px;
  --app-header-total-height: 120px;
}

body {
  /* Translate Color Scheme into semantic naming colors */
  --text-color: var(--color-grey-dark);
  --text-color-disabled: var(--color-grey-dark-50);
  --accent-color: var(--color-blue);
  --color-link: var(--color-blue);
  --card-border-color: var(--color-grey-50);

  /* --------- DEFAULT SIZES --------- */
  --text-size: 14px;

  --content-width: 1230px;
  --min-container-width: 768px;
  --app-content-padding: 180px;

  --app-header-height: 60px;
  --app-header-total-height: 120px;
}



// WEBPACK FOOTER //
// webpack:///src/styles/colors.css