@define-mixin icons8-activity-grid-2-content {
  content: "\f136";
}
@define-mixin icons8-activity-grid-2-2-content {
  content: "\f15e";
}
@define-mixin icons8-administrative-tools-content {
  content: "\f179";
}
@define-mixin icons8-appointment-reminders-content {
  content: "\f11c";
}
@define-mixin icons8-appointment-reminders-2-content {
  content: "\f162";
}
@define-mixin icons8-appointment-reminders-filled-content {
  content: "\f11b";
}
@define-mixin icons8-approval-content {
  content: "\f172";
}
@define-mixin icons8-approve-content {
  content: "\f139";
}
@define-mixin icons8-approve-2-content {
  content: "\f148";
}
@define-mixin icons8-attention-content {
  content: "\f18e";
}
@define-mixin icons8-back-content {
  content: "\f10e";
}
@define-mixin icons8-back-2-content {
  content: "\f10f";
}
@define-mixin icons8-bring-forward-filled-content {
  content: "\f184";
}
@define-mixin icons8-bulleted-list-content {
  content: "\f118";
}
@define-mixin icons8-cancel-content {
  content: "\f18f";
}
@define-mixin icons8-cardboard-box-content {
  content: "\f108";
}
@define-mixin icons8-cardboard-box-2-content {
  content: "\f109";
}
@define-mixin icons8-checked-content {
  content: "\f126";
}
@define-mixin icons8-checkmark-content {
  content: "\f17f";
}
@define-mixin icons8-checkmark-2-content {
  content: "\f195";
}
@define-mixin icons8-circle-thin-content {
  content: "\f11d";
}
@define-mixin icons8-circle-thin-2-content {
  content: "\f124";
}
@define-mixin icons8-circle-thin-3-content {
  content: "\f125";
}
@define-mixin icons8-circled-dot-content {
  content: "\f152";
}
@define-mixin icons8-circled-dot-2-content {
  content: "\f153";
}
@define-mixin icons8-cloud-content {
  content: "\f18b";
}
@define-mixin icons8-code-content {
  content: "\f13d";
}
@define-mixin icons8-code-2-content {
  content: "\f14c";
}
@define-mixin icons8-connection-status-on-content {
  content: "\f174";
}
@define-mixin icons8-console-content {
  content: "\f14d";
}
@define-mixin icons8-copy-content {
  content: "\f116";
}
@define-mixin icons8-copy-2-content {
  content: "\f193";
}
@define-mixin icons8-court-judge-content {
  content: "\f12f";
}
@define-mixin icons8-create-new-content {
  content: "\f168";
}
@define-mixin icons8-dashboard-content {
  content: "\f16b";
}
@define-mixin icons8-data-pending-content {
  content: "\f16c";
}
@define-mixin icons8-database-content {
  content: "\f199";
}
@define-mixin icons8-date-from-content {
  content: "\f100";
}
@define-mixin icons8-date-from-2-content {
  content: "\f15b";
}
@define-mixin icons8-delete-content {
  content: "\f17d";
}
@define-mixin icons8-details-popup-content {
  content: "\f167";
}
@define-mixin icons8-error-filled-content {
  content: "\f145";
}
@define-mixin icons8-expand-content {
  content: "\f10c";
}
@define-mixin icons8-expand-arrow-content {
  content: "\f10a";
}
@define-mixin icons8-expand-arrow-2-content {
  content: "\f10b";
}
@define-mixin icons8-file-content {
  content: "\f149";
}
@define-mixin icons8-filter-content {
  content: "\f110";
}
@define-mixin icons8-fine-print-content {
  content: "\f16d";
}
@define-mixin icons8-folder-content {
  content: "\f19d";
}
@define-mixin icons8-forward-content {
  content: "\f10d";
}
@define-mixin icons8-git-content {
  content: "\f19f";
}
@define-mixin icons8-hammer-content {
  content: "\f130";
}
@define-mixin icons8-hearing-filled-content {
  content: "\f14f";
}
@define-mixin icons8-heat-map-content {
  content: "\f102";
}
@define-mixin icons8-help-filled-content {
  content: "\f163";
}
@define-mixin icons8-high-priority-content {
  content: "\f121";
}
@define-mixin icons8-high-priority-2-content {
  content: "\f158";
}
@define-mixin icons8-high-priority-3-content {
  content: "\f159";
}
@define-mixin icons8-high-priority-filled-content {
  content: "\f120";
}
@define-mixin icons8-info-content {
  content: "\f18d";
}
@define-mixin icons8-inspection-content {
  content: "\f144";
}
@define-mixin icons8-installing-updates-content {
  content: "\f137";
}
@define-mixin icons8-installing-updates-2-content {
  content: "\f143";
}
@define-mixin icons8-menu-content {
  content: "\f111";
}
@define-mixin icons8-menu-2-filled-content {
  content: "\f112";
}
@define-mixin icons8-menu-filled-content {
  content: "\f165";
}
@define-mixin icons8-message-content {
  content: "\f12d";
}
@define-mixin icons8-message-2-content {
  content: "\f13f";
}
@define-mixin icons8-minus-math-content {
  content: "\f133";
}
@define-mixin icons8-module-content {
  content: "\f169";
}
@define-mixin icons8-module-filled-content {
  content: "\f16a";
}
@define-mixin icons8-multiply-content {
  content: "\f113";
}
@define-mixin icons8-not-hearing-filled-content {
  content: "\f14e";
}
@define-mixin icons8-ok-content {
  content: "\f11e";
}
@define-mixin icons8-ok-filled-content {
  content: "\f164";
}
@define-mixin icons8-orthogonal-view-content {
  content: "\f197";
}
@define-mixin icons8-page-overview-3-content {
  content: "\f134";
}
@define-mixin icons8-page-overview-3-2-content {
  content: "\f17b";
}
@define-mixin icons8-password-check-content {
  content: "\f150";
}
@define-mixin icons8-past-content {
  content: "\f104";
}
@define-mixin icons8-past-2-content {
  content: "\f160";
}
@define-mixin icons8-pause-content {
  content: "\f12c";
}
@define-mixin icons8-pause-filled-content {
  content: "\f122";
}
@define-mixin icons8-pencil-tip-content {
  content: "\f115";
}
@define-mixin icons8-play-filled-content {
  content: "\f123";
}
@define-mixin icons8-plugin-content {
  content: "\f177";
}
@define-mixin icons8-plus-2-math-content {
  content: "\f186";
}
@define-mixin icons8-plus-filled-content {
  content: "\f154";
}
@define-mixin icons8-plus-filled-2-content {
  content: "\f155";
}
@define-mixin icons8-plus-math-content {
  content: "\f132";
}
@define-mixin icons8-process-content {
  content: "\f13b";
}
@define-mixin icons8-process-2-content {
  content: "\f15c";
}
@define-mixin icons8-recurring-appointment-content {
  content: "\f11f";
}
@define-mixin icons8-refresh-content {
  content: "\f127";
}
@define-mixin icons8-repeat-content {
  content: "\f107";
}
@define-mixin icons8-repeat-2-content {
  content: "\f13e";
}
@define-mixin icons8-restart-content {
  content: "\f131";
}
@define-mixin icons8-search-content {
  content: "\f119";
}
@define-mixin icons8-send-file-content {
  content: "\f13c";
}
@define-mixin icons8-send-file-2-content {
  content: "\f14b";
}
@define-mixin icons8-serial-tasks-content {
  content: "\f103";
}
@define-mixin icons8-server-content {
  content: "\f128";
}
@define-mixin icons8-services-content {
  content: "\f16e";
}
@define-mixin icons8-settings-content {
  content: "\f105";
}
@define-mixin icons8-settings-2-content {
  content: "\f161";
}
@define-mixin icons8-settings-filled-content {
  content: "\f1a3";
}
@define-mixin icons8-software-installer-content {
  content: "\f178";
}
@define-mixin icons8-sort-down-content {
  content: "\f157";
}
@define-mixin icons8-sort-up-content {
  content: "\f156";
}
@define-mixin icons8-source-code-content {
  content: "\f138";
}
@define-mixin icons8-source-code-filled-content {
  content: "\f147";
}
@define-mixin icons8-spinner-frame-5-content {
  content: "\f166";
}
@define-mixin icons8-split-content {
  content: "\f12e";
}
@define-mixin icons8-split-filled-content {
  content: "\f146";
}
@define-mixin icons8-stack-overflow-content {
  content: "\f170";
}
@define-mixin icons8-start-content {
  content: "\f12a";
}
@define-mixin icons8-start-2-content {
  content: "\f141";
}
@define-mixin icons8-stop-content {
  content: "\f12b";
}
@define-mixin icons8-stop-2-content {
  content: "\f142";
}
@define-mixin icons8-stop-property-content {
  content: "\f151";
}
@define-mixin icons8-sun-content {
  content: "\f16f";
}
@define-mixin icons8-synchronize-content {
  content: "\f13a";
}
@define-mixin icons8-template-content {
  content: "\f19b";
}
@define-mixin icons8-thumbnails-filled-content {
  content: "\f117";
}
@define-mixin icons8-timer-content {
  content: "\f129";
}
@define-mixin icons8-timer-2-content {
  content: "\f140";
}
@define-mixin icons8-transaction-list-content {
  content: "\f101";
}
@define-mixin icons8-user-content {
  content: "\f176";
}
@define-mixin icons8-user-2-content {
  content: "\f1a1";
}
@define-mixin icons8-user-groups-content {
  content: "\f191";
}
@define-mixin icons8-versions-content {
  content: "\f106";
}
@define-mixin icons8-versions-2-content {
  content: "\f15f";
}
@define-mixin icons8-view-details-content {
  content: "\f175";
}
@define-mixin icons8-virtual-machine-2-content {
  content: "\f188";
}
@define-mixin icons8-waste-content {
  content: "\f114";
}
@define-mixin icons8-workflow-content {
  content: "\f135";
}
@define-mixin icons8-workflow-2-content {
  content: "\f15d";
}
@define-mixin icons8-zoom-in-content {
  content: "\f11a";
}
@define-mixin icons8-zoom-out-content {
  content: "\f14a";
}



// WEBPACK FOOTER //
// webpack:///src/styles/icons8-classes.css