@define-mixin h3PageTitle {
  position: relative;
  height: 30px;
  &:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    bottom: 0;
    left: 1px;
   /* border-bottom: 1px solid $ACCENT_COLOR;*/
    transition: opacity .20s ease-in-out;
  }
}

@define-mixin tabsTitle {
  position: relative;
  height: 40px;
  &:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    bottom: 0px;
    border-bottom: 1px solid $ACCENT_COLOR;
    transition: opacity .20s ease-in-out;
  }
}



// WEBPACK FOOTER //
// webpack:///src/styles/mixins.css