body {
  --ui-card-padding: 20px;
  --ui-card-bg-color: var(--color-grey-light-50);
}

ui-card {
  --ui-card-header-bg-color: var(--color-white);
  --ui-card-text-color: var(--text-color);

  display: flex;
  flex-direction: column;
  flex: 1;
  color: var(--ui-card-text-color);
  border-radius: 1px;
  border: 1px solid var(--card-border-color);
  box-shadow: 2px var(--color-grey-50);
  margin-bottom: var(--indent-width);
  width: 100%;

  > ui-card-header,
  > header {
    &[hide] {
      display: none;
    }

    .hide {
      display: none;
    }

    box-for-baselined-items {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 18px;
    min-height: 44px;
    padding: 0px 20px;
    background-color: var(--ui-card-header-bg-color);

    card-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1;

      item-name {
        display: flex;
        align-items: center;
      }

      item-description {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: var(--color-grey-dark);
        cursor: default;
      }
    }

    card-sub-title {
      display: flex;
      flex: 1;
      font-size: 14px;
      margin-left: 8px;
      color: var(--color-grey);
    }
  }

  > ui-card-main,
  > main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 20px;
    background-color: var(--color-grey-light-50);
  }

  kv-pairs {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 18px;

    kv-pair {
      display: flex;
      min-height: 28px;
      padding: 3px 0px;

      &:first-child {
        padding-top: 0px;
      }

      &:last-child {
        padding-bottom: 0px;
      }

      kv-pair-key {
        display: flex;
        align-items: center;
        min-width: 140px;
        color: var(--color-grey);
      }

      kv-pair-value {
        display: flex;
        align-items: center;
        flex: 1;
        color: var(--text-color);
      }
    }
  }

  ui-card-actions {
    display: flex;
    color: var(--color-grey);
    i {
      padding: 5px;
      cursor: pointer;
      &:hover {
        color: var(--text-color) !important;
      }
    }
    button {
      margin-left: 5px;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/styles/ui-card.css