/* Page  */
$MAX_WIDTH: 1280px;
$TOP_NAV_HEIGHT: 56px;
$HEADER_HEIGHT: 56px;
$LEFT_NAV_WIDTH: 180px;
$LEFT_NAV_WIDTH_SMALL: 56px;
$ROW_HEIGHT: 40px;
$MOZILLA_FORM_BORDER: #d2d6de;
$LINK_HOVER_COLOR: #02608e;

/* Dropdown */
$DROPDOWN_ITEM_HEIGHT: 30px;
$DROPDOWN_HEADER_HEIGHT: 40px;
$DROPDOWN_TOP_BOTTOM_PAD: 8px;
$DROPDOWN_BORDER: #e1e4e4;
$DROPDOWN_HEADER: #e1e4e4;
$DROPDOWN_SELECTED: #c3c8ca;
$DROPDOWN_HOVER: #f7f7f7;
$CARD_INDENT_WIDTH: 22px;

$DEPLOYMENT_CARD_HEADER_BOTTOM: #f4f4f4;

/* Buttons */
$BUTTON_SUBMIT_DEFAULT: #76868e;
$BUTTON_SUBMIT_HOVER: #3a4449;
$BUTTON_SUBMIT_ACTIVE: #d4d4d4;

$BUTTON_CANCEL_DEFAULT: #76868e;
$BUTTON_CANCEL_HOVER: #3a4449;
$BUTTON_CANCEL_ACTIVE: #d4d4d4;

$LIGHT_GRAY: #c3c8ca;
$BGCOLOR: var(--color-grey-light);

$BGCOLOR_GRAY: #f4f4f4;
$BGCOLOR_DARK: #3a4449;
$BGCOLOR_LIGHT_DARK: #76868e;
$BGCOLOR_LIGHT_BLUE: var(--color-grey-light-50);

$BGCOLOR_LIGHT: #ececec;

$CARD_BGCOLOR: #fff;

$NAV_COLOR: #5a6466;
$NAV_OPACITY: 0.97;

$TEXT_COLOR: #3a4449;
$TEXT_COLOR_LIGHT: #c3c8ca;
$TEXT_COLOR_MED_LIGHT: #808080;
$TEXT_COLOR_DARK: #333;

$ACTIVE_COLOR: #dbeff3;

$TEXT_COLOR_OVER_DARK: #fff;
$TEXT_COLOR_OVER_DARK_ACTIVE: #d1d5d7;

$ACCENT_COLOR: var(--color-blue);
$LINK_COLOR: var(--color-blue);
$BGCOLOR_ON_HOVER: #2a3236;

$HOVER_COLOR: #f5fbfc;
$BORDER_COLOR: #d2d6de;
$BORDER_LIGHT: #ececec;
$BORDER_DARK: #e7e7e7;
$BORDER_LINE: #e2e4e4;
$BORDER_INPUT_FOCUS: #3c8dbc;

$SIDEBAR_BGCOLOR: #4f585a;
$MENU_ITEM_SELECTED: #fff;

/* sync with Wings.js also */
$YELLOW_WARNING: #febf01;
$RED_ERROR: #e75162;
$INPROGRESS: var(--color-blue);

$YELLOW_WARNING_LIGHT: #fbe28d;
$RED_ERROR_LIGHT: #ea8a93;
$INPROGRESS_LIGHT: #86dfe4;

/* --- Workflow --- */

$NODE_BGCOLOR: #f3f9fa;
$NODE_STATUS_SUCCESS: #5ebc86;
$NODE_STATUS_FAILED: #ef6e74;
$NODE_STATUS_QUEUED: var(--color-blue);
$NODE_STATUS_RUNNING: var(--color-blue);
$NODE_STATUS_PAUSED: orange;
$NODE_STATUS_ABORTED: #9da2a4;

$STENCIL_CONTROL: #f48953;
$STENCIL_CONTROL_BG: #fffaf7;
$STENCIL_COMMAND: #f1639f;
$STENCIL_COMMAND_BG: #fcf8f9;
$STENCIL_VERIFICATION: #882286;
$STENCIL_VERIFICATION_BG: #fdecfc;
$STENCIL_OTHERS: #004c9a;
$STENCIL_OTHERS_BG: #d4eaf3;

/* --- Setup As Code --- */

$SETUP_AS_CODE_THEME_COLOR: orange;
$SETUP_AS_CODE_LIGHT_COLOR: #ffdfca;

/* --- Icons8 content (from icons8.css) --- */

$ICON_TEXT_COLOR: #aaa;

$CARD-FONT-COLOR: #77787b;
$LIGHT-BLUE-COLOR: #80d6f2;

$NAVITEM-SELECTED-COLOR: #ade1f2;



// WEBPACK FOOTER //
// webpack:///src/styles/vars.css