@import "../../../styles/vars.css";

.main {
  margin-top: -15px;
  padding: 20px;
  padding-bottom: 5px;

  .comments {
    width: 50%;
  }

  .buttons {
    margin-top: 15px;
  }

  .abort {
    margin-left: 30px;
  }

  :global {
    .__card {
      border: 4px solid #e4e5e7;
      border-radius: 8px;
    }

    .__close {
      float: right;
      cursor: pointer;
      font-size: 14px !important;
      color: #aaa;
    }

    .wings-card-col {
      padding: 10px 20px;
    }

    .__card-status-SUCCESS {
      border-left: 8px solid var(--color-green-light) !important;
    }
    .__card-status-FAILED {
      border-left: 8px solid $RED_ERROR_LIGHT !important;
    }
    .__card-status-RUNNING {
      border-left: 8px solid $INPROGRESS_LIGHT !important;
    }
    .__card-status-PAUSED {
      border-left: 8px solid $YELLOW_WARNING_LIGHT !important;
    }
  }
}



// WEBPACK FOOTER //
// webpack:///src/containers/CDStatusPage/views/ApprovalCardView.css