.main {
  &:hover {
    cursor: pointer;
  }
  :global {
    path {
      &[fill~="var(--color-green-light)"]:hover {
        fill: var(--color-green);
      }

      &[fill~="var(--color-red-light)"]:hover {
        fill: var(--color-red);
      }

      &[fill~="var(--color-green-light)"]:hover {
        fill: var(--color-green);
      }

      &[fill~="var(--color-grey-50)"]:hover {
        fill: var(--color-grey);
      }

      &[fill~="var(--color-yellow-light)"]:hover {
        fill: var(--color-yellow);
      }

      &[fill~="var(--color-blue-light)"]:hover {
        fill: var(--color-blue);
      }

      &[fill~="var(--color-grey)"]:hover {
        fill: var(--color-grey-dark-50);
      }
    }
  }
}


// WEBPACK FOOTER //
// webpack:///src/components/BreakdownChart/BreakdownChart.css