@import "../../styles/vars.css";

.wingsMainSection {
  display: flex;
  margin-top: var(--app-header-total-height);
}

.dashboardHeader {
  height: 112px;
  max-height: 112px;
}

.header {
}

.emptyDiv {
  position: relative;
  margin-bottom: 10px;
  background-color: $BGCOLOR;
}



// WEBPACK FOOTER //
// webpack:///src/containers/App/App.css